workflows/Create embeddings in an table exists.json
{
    "updatedAt": "2026-03-30T23:06:07.745Z",
    "createdAt": "2026-03-29T22:47:47.215Z",
    "id": "aOAxm6ZNoDHDxzSv",
    "name": "Create embeddings in an table exists",
    "active": false,
    "isArchived": false,
    "nodes": [
        {
            "parameters": {},
            "type": "n8n-nodes-base.manualTrigger",
            "typeVersion": 1,
            "position": [
                32,
                0
            ],
            "id": "b28b015a-a5b4-45c1-b2e7-103d402c1def",
            "name": "When clicking ‘Execute workflow’"
        },
        {
            "parameters": {
                "operation": "getAll",
                "tableId": "questions",
                "returnAll": true,
                "filterType": "none"
            },
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                208,
                0
            ],
            "id": "2bc92f95-0b1b-4cfc-beb8-0ef9fba4be12",
            "name": "Get many rows",
            "credentials": {
                "supabaseApi": {
                    "id": "WbnVqEv2ZGhdAeSX",
                    "name": "Supabase SnakeTech DB Quiz"
                }
            }
        },
        {
            "parameters": {
                "mode": "combine",
                "combineBy": "combineByPosition",
                "options": {}
            },
            "type": "n8n-nodes-base.merge",
            "typeVersion": 3.2,
            "position": [
                608,
                -16
            ],
            "id": "c85b8b55-7c66-4a2a-81d8-14a8c94085f9",
            "name": "Merge"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.openai.com/v1/embeddings",
                "authentication": "predefinedCredentialType",
                "nodeCredentialType": "openAiApi",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"input\": \"{{ $json.question }}\",\n  \"model\": \"text-embedding-3-small\",\n  \"dimensions\": 512\n}",
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.4,
            "position": [
                400,
                -128
            ],
            "id": "5e2d5ca7-74a0-4eb9-9bc7-f2f5ae0ed80a",
            "name": "OpenAI Embeddings",
            "credentials": {
                "openAiApi": {
                    "id": "H0VcOhL36gFHQbme",
                    "name": "OpenAi mickael.lcq account"
                }
            }
        },
        {
            "parameters": {
                "tableId": "questions_embeddings",
                "fieldsUi": {
                    "fieldValues": [
                        {
                            "fieldId": "question_id",
                            "fieldValue": "={{ $json.id }}"
                        },
                        {
                            "fieldId": "content",
                            "fieldValue": "={{ $json.question }}"
                        },
                        {
                            "fieldId": "=embedding",
                            "fieldValue": "={{ $json.data[0].embedding }}"
                        }
                    ]
                }
            },
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                896,
                -16
            ],
            "id": "94b6c609-3eff-41e8-a8b0-680c4cbc54fa",
            "name": "Create a row",
            "credentials": {
                "supabaseApi": {
                    "id": "WbnVqEv2ZGhdAeSX",
                    "name": "Supabase SnakeTech DB Quiz"
                }
            }
        },
        {
            "parameters": {
                "mode": "insert",
                "tableName": {
                    "__rl": true,
                    "value": "questions_embeddings",
                    "mode": "list",
                    "cachedResultName": "questions_embeddings"
                },
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
            "typeVersion": 1.3,
            "position": [
                1248,
                80
            ],
            "id": "6bbc53df-87c0-45e7-9bc7-c8db9fdf41fe",
            "name": "Supabase Vector Store",
            "credentials": {
                "supabaseApi": {
                    "id": "WbnVqEv2ZGhdAeSX",
                    "name": "Supabase SnakeTech DB Quiz"
                }
            }
        },
        {
            "parameters": {
                "jsonMode": "expressionData",
                "jsonData": "={{ $('Merge').item.json.question }}",
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
            "typeVersion": 1.1,
            "position": [
                1392,
                288
            ],
            "id": "a1d05130-a022-469e-a4dd-46fd11dac588",
            "name": "Default Data Loader"
        },
        {
            "parameters": {
                "options": {
                    "dimensions": 1536
                }
            },
            "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
            "typeVersion": 1.2,
            "position": [
                1168,
                288
            ],
            "id": "a7fd7335-ece8-40da-8bc2-eb210f45fa9e",
            "name": "Embeddings OpenAI",
            "credentials": {
                "openAiApi": {
                    "id": "H0VcOhL36gFHQbme",
                    "name": "OpenAi mickael.lcq account"
                }
            }
        },
        {
            "parameters": {
                "operation": "update",
                "tableId": "questions_embeddings",
                "filters": {
                    "conditions": [
                        {
                            "keyName": "content",
                            "condition": "eq",
                            "keyValue": "={{ $json.pageContent }}"
                        }
                    ]
                },
                "fieldsUi": {
                    "fieldValues": [
                        {
                            "fieldId": "question_id",
                            "fieldValue": "= {{ $('Merge').item.json.id }}"
                        }
                    ]
                }
            },
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                1600,
                80
            ],
            "id": "84d29505-2262-4709-b358-a3e605636ccb",
            "name": "Update a row",
            "credentials": {
                "supabaseApi": {
                    "id": "WbnVqEv2ZGhdAeSX",
                    "name": "Supabase SnakeTech DB Quiz"
                }
            }
        }
    ],
    "connections": {
        "When clicking ‘Execute workflow’": {
            "main": [
                [
                    {
                        "node": "Get many rows",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get many rows": {
            "main": [
                [
                    {
                        "node": "OpenAI Embeddings",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Merge",
                        "type": "main",
                        "index": 1
                    }
                ]
            ]
        },
        "Merge": {
            "main": [
                [
                    {
                        "node": "Create a row",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "OpenAI Embeddings": {
            "main": [
                [
                    {
                        "node": "Merge",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Default Data Loader": {
            "ai_document": [
                [
                    {
                        "node": "Supabase Vector Store",
                        "type": "ai_document",
                        "index": 0
                    }
                ]
            ]
        },
        "Embeddings OpenAI": {
            "ai_embedding": [
                [
                    {
                        "node": "Supabase Vector Store",
                        "type": "ai_embedding",
                        "index": 0
                    }
                ]
            ]
        },
        "Supabase Vector Store": {
            "main": [
                [
                    {
                        "node": "Update a row",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1",
        "binaryMode": "separate",
        "availableInMCP": false
    },
    "staticData": null,
    "meta": {
        "templateCredsSetupCompleted": true
    },
    "pinData": {},
    "versionId": "9611eec2-bec1-4539-b5cf-d255ecb2982f",
    "activeVersionId": null,
    "triggerCount": 0,
    "shared": [
        {
            "updatedAt": "2026-03-29T22:47:47.218Z",
            "createdAt": "2026-03-29T22:47:47.218Z",
            "role": "workflow:owner",
            "workflowId": "aOAxm6ZNoDHDxzSv",
            "projectId": "lnYpJLFYV8VS8Mcd"
        }
    ],
    "activeVersion": null,
    "tags": []
}