workflows/Instagram - Get data.json
{
    "updatedAt": "2026-01-09T09:18:06.898Z",
    "createdAt": "2025-06-24T21:44:08.407Z",
    "id": "Ax4f71cfD5CapcAb",
    "name": "Instagram - Get data",
    "active": true,
    "isArchived": false,
    "nodes": [
        {
            "parameters": {
                "language": "pythonNative",
                "pythonCode": "# Loop over input items and add a new field called 'myNewField' to the JSON of each one\nimport re\nitem = _items[0][\"json\"]\npattern = re.compile(r\"https://www.instagram.com/([^?]+)\")\nusername = (pattern.match(item.get(\"chatInput\", \"\")) or pattern.match(item[\"message\"][\"text\"])).group(1)\nreturn { \"username\": username}"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                208,
                0
            ],
            "id": "0164d631-d601-4c09-a429-0c27f78b8ca5",
            "name": "Code"
        },
        {
            "parameters": {
                "mode": "raw",
                "jsonOutput": "={\n  \"id\": {{ $json.data.user.id }},\n  \"username\": \"{{ $json.data.user.username }}\",\n  \"name\": \"{{ $json.data.user.full_name }}\",\n  \"profile\": \"https://www.instagram.com/{{ $json.data.user.username }}\",\n  \"bio_links\": \"{{ $json.data.user.bio_links[0].url }}\",\n  \"followers\": {{ $json.data.user.edge_followed_by.count }},\n  \"follow\": {{ $json.data.user.edge_follow.count }},\n  \"picture\": [\n          {\"url\": \"{{ $json.data.user.profile_pic_url_hd }}\"},\n          {\"url\": \"{{ $json.data.user.edge_owner_to_timeline_media.edges[0].node.display_url }}\"},\n          {\"url\": \"{{ $json.data.user.edge_owner_to_timeline_media.edges[1].node.display_url }}\"}\n      ],\n  \"is_private\": \"{{ $json.data.user.is_private }}\",\n  \"is_business_account\": \"{{ $json.data.user.is_business_account }}\",\n  \"is_joined_recently\": \"{{ $json.data.user.is_joined_recently }}\"\n}\n",
                "includeOtherFields": true,
                "include": "selected",
                "options": {}
            },
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                592,
                -80
            ],
            "id": "1053784b-5b47-473f-a0bf-5af5ba0918bf",
            "name": "Edit Fields",
            "alwaysOutputData": true
        },
        {
            "parameters": {
                "operation": "upsert",
                "base": {
                    "__rl": true,
                    "value": "appf960v55i3Pdlv9",
                    "mode": "list",
                    "cachedResultName": "Instagram",
                    "cachedResultUrl": "https://airtable.com/appf960v55i3Pdlv9"
                },
                "table": {
                    "__rl": true,
                    "value": "tblB0gvtE2Q2VFki3",
                    "mode": "list",
                    "cachedResultName": "Table 1",
                    "cachedResultUrl": "https://airtable.com/appf960v55i3Pdlv9/tblB0gvtE2Q2VFki3"
                },
                "columns": {
                    "mappingMode": "autoMapInputData",
                    "value": {},
                    "matchingColumns": [
                        "username"
                    ],
                    "schema": [
                        {
                            "id": "id",
                            "displayName": "id",
                            "required": false,
                            "defaultMatch": true,
                            "display": true,
                            "type": "string",
                            "readOnly": true,
                            "removed": false
                        },
                        {
                            "id": "id",
                            "displayName": "id",
                            "required": false,
                            "defaultMatch": false,
                            "canBeUsedToMatch": true,
                            "display": true,
                            "type": "number",
                            "readOnly": false,
                            "removed": false
                        },
                        {
                            "id": "username",
                            "displayName": "username",
                            "required": false,
                            "defaultMatch": false,
                            "canBeUsedToMatch": true,
                            "display": true,
                            "type": "string",
                            "readOnly": false,
                            "removed": false
                        },
                        {
                            "id": "name",
                            "displayName": "name",
                            "required": false,
                            "defaultMatch": false,
                            "canBeUsedToMatch": true,
                            "display": true,
                            "type": "string",
                            "readOnly": false,
                            "removed": false
                        },
                        {
                            "id": "profile",
                            "displayName": "profile",
                            "required": false,
                            "defaultMatch": false,
                            "canBeUsedToMatch": true,
                            "display": true,
                            "type": "string",
                            "readOnly": false,
                            "removed": false
                        },
                        {
                            "id": "bio_links",
                            "displayName": "bio_links",
                            "required": false,
                            "defaultMatch": false,
                            "canBeUsedToMatch": true,
                            "display": true,
                            "type": "string",
                            "readOnly": false,
                            "removed": false
                        },
                        {
                            "id": "followers",
                            "displayName": "followers",
                            "required": false,
                            "defaultMatch": false,
                            "canBeUsedToMatch": true,
                            "display": true,
                            "type": "number",
                            "readOnly": false,
                            "removed": false
                        },
                        {
                            "id": "follow",
                            "displayName": "follow",
                            "required": false,
                            "defaultMatch": false,
                            "canBeUsedToMatch": true,
                            "display": true,
                            "type": "number",
                            "readOnly": false,
                            "removed": false
                        },
                        {
                            "id": "picture",
                            "displayName": "picture",
                            "required": false,
                            "defaultMatch": false,
                            "canBeUsedToMatch": true,
                            "display": true,
                            "type": "array",
                            "readOnly": false,
                            "removed": false
                        },
                        {
                            "id": "is_private",
                            "displayName": "is_private",
                            "required": false,
                            "defaultMatch": false,
                            "canBeUsedToMatch": true,
                            "display": true,
                            "type": "options",
                            "options": [
                                {
                                    "name": "true",
                                    "value": "true"
                                },
                                {
                                    "name": "false",
                                    "value": "false"
                                }
                            ],
                            "readOnly": false,
                            "removed": false
                        },
                        {
                            "id": "is_business_account",
                            "displayName": "is_business_account",
                            "required": false,
                            "defaultMatch": false,
                            "canBeUsedToMatch": true,
                            "display": true,
                            "type": "options",
                            "options": [
                                {
                                    "name": "true",
                                    "value": "true"
                                },
                                {
                                    "name": "false",
                                    "value": "false"
                                }
                            ],
                            "readOnly": false,
                            "removed": false
                        },
                        {
                            "id": "is_joined_recently",
                            "displayName": "is_joined_recently",
                            "required": false,
                            "defaultMatch": false,
                            "canBeUsedToMatch": true,
                            "display": true,
                            "type": "options",
                            "options": [
                                {
                                    "name": "true",
                                    "value": "true"
                                },
                                {
                                    "name": "false",
                                    "value": "false"
                                }
                            ],
                            "readOnly": false,
                            "removed": false
                        }
                    ],
                    "attemptToConvertTypes": false,
                    "convertFieldsToString": false
                },
                "options": {}
            },
            "type": "n8n-nodes-base.airtable",
            "typeVersion": 2.1,
            "position": [
                784,
                -80
            ],
            "id": "439d6056-e331-40af-b4dc-8a6eb8c3177e",
            "name": "Airtable",
            "credentials": {
                "airtableTokenApi": {
                    "id": "FVwl5FUvH6ZKh3ki",
                    "name": "Airtable Datasets"
                }
            }
        },
        {
            "parameters": {
                "url": "=https://i.instagram.com/api/v1/users/web_profile_info/",
                "sendQuery": true,
                "queryParameters": {
                    "parameters": [
                        {
                            "name": "username",
                            "value": "={{ $json.username }}"
                        }
                    ]
                },
                "sendHeaders": true,
                "specifyHeaders": "json",
                "jsonHeaders": "={\n    \"Accept\": \"*/*\",\n    \"Accept-Encoding\": \"gzip, deflate, br\",\n    \"Accept-Language\": \"fr,en-US;q=0.9,en;q=0.8\",\n    \"Cache-Control\": \"max-age=0\",\n    \"Content-Type\": \"application/json\",\n    \"Host\": \"www.instagram.com\",\n    \"Referer\": \"https://www.instagram.com/{{ $json.username }}\",\n    \"x-ig-app-id\": \"936619743392459\",\n    \"User-Agent\": \"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/62.0.3202.94 Safari/537.36\"\n}",
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                400,
                0
            ],
            "id": "e35c0548-9acf-438b-a37a-c7caa54e14a7",
            "name": "HTTP Request",
            "alwaysOutputData": false,
            "onError": "continueErrorOutput"
        },
        {
            "parameters": {
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.chatTrigger",
            "typeVersion": 1.1,
            "position": [
                0,
                -96
            ],
            "id": "4538681a-34ae-43b8-b934-cf6a5b01aebc",
            "name": "When chat message received",
            "webhookId": "551c6c5e-9e7c-49d4-8708-63472a48969f"
        },
        {
            "parameters": {
                "graphApiVersion": "v23.0",
                "node": "=me",
                "options": {
                    "fields": {
                        "field": [
                            {
                                "name": "id"
                            },
                            {
                                "name": "username"
                            },
                            {
                                "name": "name"
                            },
                            {
                                "name": "biography"
                            },
                            {
                                "name": "followers_count"
                            },
                            {
                                "name": "follows_count"
                            },
                            {
                                "name": "media"
                            }
                        ]
                    }
                }
            },
            "type": "n8n-nodes-base.facebookGraphApi",
            "typeVersion": 1,
            "position": [
                400,
                -160
            ],
            "id": "f0e91f61-49c8-4e93-b750-babc80de8636",
            "name": "Facebook Graph API",
            "credentials": {
                "facebookGraphApi": {
                    "id": "wXmos9gmbFrp5Xsq",
                    "name": "App n8n access"
                }
            },
            "onError": "continueRegularOutput"
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict",
                        "version": 2
                    },
                    "conditions": [
                        {
                            "id": "8e619987-58e6-4b47-ada4-556041165897",
                            "leftValue": "={{ $json.error.message }}",
                            "rightValue": "Page introuvable",
                            "operator": {
                                "type": "string",
                                "operation": "contains"
                            }
                        },
                        {
                            "id": "c5f60374-0fdf-4fd9-b378-29fc3ea3d589",
                            "leftValue": "={{ $json.error.message }}",
                            "rightValue": "Veuillez patienter quelques minutes avant de réessayer",
                            "operator": {
                                "type": "string",
                                "operation": "contains"
                            }
                        }
                    ],
                    "combinator": "or"
                },
                "options": {}
            },
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.2,
            "position": [
                592,
                80
            ],
            "id": "f9f6415f-f94f-4765-9e9e-dd095daed5a5",
            "name": "If"
        },
        {
            "parameters": {
                "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nconst message = $input.all()[0][\"json\"][\"error\"][\"status\"] === 401 ? \"Patientez quelques minutes\" : \"Page introuvable\";\nreturn {\"reason\": message}"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                784,
                80
            ],
            "id": "0719cd43-8631-4887-98bb-01a86bb3a113",
            "name": "Code1",
            "alwaysOutputData": false
        },
        {
            "parameters": {
                "chatId": "1037310358",
                "text": "={{ $json.reason }}",
                "additionalFields": {}
            },
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1.2,
            "position": [
                976,
                80
            ],
            "id": "efcd6500-a77e-45ad-9207-02d8e8f205eb",
            "name": "Send a text message",
            "webhookId": "77519da9-4934-40a3-87f9-41a23b1feb95",
            "credentials": {
                "telegramApi": {
                    "id": "AlCMwgvN0vx0V3z2",
                    "name": "InstaSets"
                }
            }
        },
        {
            "parameters": {
                "updates": [
                    "message"
                ],
                "additionalFields": {}
            },
            "type": "n8n-nodes-base.telegramTrigger",
            "typeVersion": 1.2,
            "position": [
                0,
                112
            ],
            "id": "2b078371-dcb1-4e11-b809-88c8d58db97e",
            "name": "Telegram Trigger",
            "webhookId": "cbd9dfb8-297d-4be8-ad04-8b0cd7b0c5c0",
            "credentials": {
                "telegramApi": {
                    "id": "AlCMwgvN0vx0V3z2",
                    "name": "InstaSets"
                }
            }
        }
    ],
    "connections": {
        "Code": {
            "main": [
                [
                    {
                        "node": "HTTP Request",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Facebook Graph API",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Edit Fields": {
            "main": [
                [
                    {
                        "node": "Airtable",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "HTTP Request": {
            "main": [
                [
                    {
                        "node": "Edit Fields",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "If",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "When chat message received": {
            "main": [
                [
                    {
                        "node": "Code",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Facebook Graph API": {
            "main": [
                []
            ]
        },
        "If": {
            "main": [
                [
                    {
                        "node": "Code1",
                        "type": "main",
                        "index": 0
                    }
                ],
                []
            ]
        },
        "Code1": {
            "main": [
                [
                    {
                        "node": "Send a text message",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Telegram Trigger": {
            "main": [
                [
                    {
                        "node": "Code",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    },
    "staticData": null,
    "meta": {
        "templateCredsSetupCompleted": true
    },
    "pinData": {},
    "versionId": "ee2444c6-4108-4ab3-98c2-3a0473135002",
    "activeVersionId": "ee2444c6-4108-4ab3-98c2-3a0473135002",
    "triggerCount": 2,
    "shared": [
        {
            "updatedAt": "2025-06-24T21:44:08.410Z",
            "createdAt": "2025-06-24T21:44:08.410Z",
            "role": "workflow:owner",
            "workflowId": "Ax4f71cfD5CapcAb",
            "projectId": "lnYpJLFYV8VS8Mcd"
        }
    ],
    "activeVersion": {
        "updatedAt": "2026-01-09T09:19:54.000Z",
        "createdAt": "2026-01-09T09:18:06.899Z",
        "versionId": "ee2444c6-4108-4ab3-98c2-3a0473135002",
        "workflowId": "Ax4f71cfD5CapcAb",
        "nodes": [
            {
                "parameters": {
                    "language": "pythonNative",
                    "pythonCode": "# Loop over input items and add a new field called 'myNewField' to the JSON of each one\nimport re\nitem = _items[0][\"json\"]\npattern = re.compile(r\"https://www.instagram.com/([^?]+)\")\nusername = (pattern.match(item.get(\"chatInput\", \"\")) or pattern.match(item[\"message\"][\"text\"])).group(1)\nreturn { \"username\": username}"
                },
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    208,
                    0
                ],
                "id": "0164d631-d601-4c09-a429-0c27f78b8ca5",
                "name": "Code"
            },
            {
                "parameters": {
                    "mode": "raw",
                    "jsonOutput": "={\n  \"id\": {{ $json.data.user.id }},\n  \"username\": \"{{ $json.data.user.username }}\",\n  \"name\": \"{{ $json.data.user.full_name }}\",\n  \"profile\": \"https://www.instagram.com/{{ $json.data.user.username }}\",\n  \"bio_links\": \"{{ $json.data.user.bio_links[0].url }}\",\n  \"followers\": {{ $json.data.user.edge_followed_by.count }},\n  \"follow\": {{ $json.data.user.edge_follow.count }},\n  \"picture\": [\n          {\"url\": \"{{ $json.data.user.profile_pic_url_hd }}\"},\n          {\"url\": \"{{ $json.data.user.edge_owner_to_timeline_media.edges[0].node.display_url }}\"},\n          {\"url\": \"{{ $json.data.user.edge_owner_to_timeline_media.edges[1].node.display_url }}\"}\n      ],\n  \"is_private\": \"{{ $json.data.user.is_private }}\",\n  \"is_business_account\": \"{{ $json.data.user.is_business_account }}\",\n  \"is_joined_recently\": \"{{ $json.data.user.is_joined_recently }}\"\n}\n",
                    "includeOtherFields": true,
                    "include": "selected",
                    "options": {}
                },
                "type": "n8n-nodes-base.set",
                "typeVersion": 3.4,
                "position": [
                    592,
                    -80
                ],
                "id": "1053784b-5b47-473f-a0bf-5af5ba0918bf",
                "name": "Edit Fields",
                "alwaysOutputData": true
            },
            {
                "parameters": {
                    "operation": "upsert",
                    "base": {
                        "__rl": true,
                        "value": "appf960v55i3Pdlv9",
                        "mode": "list",
                        "cachedResultName": "Instagram",
                        "cachedResultUrl": "https://airtable.com/appf960v55i3Pdlv9"
                    },
                    "table": {
                        "__rl": true,
                        "value": "tblB0gvtE2Q2VFki3",
                        "mode": "list",
                        "cachedResultName": "Table 1",
                        "cachedResultUrl": "https://airtable.com/appf960v55i3Pdlv9/tblB0gvtE2Q2VFki3"
                    },
                    "columns": {
                        "mappingMode": "autoMapInputData",
                        "value": {},
                        "matchingColumns": [
                            "username"
                        ],
                        "schema": [
                            {
                                "id": "id",
                                "displayName": "id",
                                "required": false,
                                "defaultMatch": true,
                                "display": true,
                                "type": "string",
                                "readOnly": true,
                                "removed": false
                            },
                            {
                                "id": "id",
                                "displayName": "id",
                                "required": false,
                                "defaultMatch": false,
                                "canBeUsedToMatch": true,
                                "display": true,
                                "type": "number",
                                "readOnly": false,
                                "removed": false
                            },
                            {
                                "id": "username",
                                "displayName": "username",
                                "required": false,
                                "defaultMatch": false,
                                "canBeUsedToMatch": true,
                                "display": true,
                                "type": "string",
                                "readOnly": false,
                                "removed": false
                            },
                            {
                                "id": "name",
                                "displayName": "name",
                                "required": false,
                                "defaultMatch": false,
                                "canBeUsedToMatch": true,
                                "display": true,
                                "type": "string",
                                "readOnly": false,
                                "removed": false
                            },
                            {
                                "id": "profile",
                                "displayName": "profile",
                                "required": false,
                                "defaultMatch": false,
                                "canBeUsedToMatch": true,
                                "display": true,
                                "type": "string",
                                "readOnly": false,
                                "removed": false
                            },
                            {
                                "id": "bio_links",
                                "displayName": "bio_links",
                                "required": false,
                                "defaultMatch": false,
                                "canBeUsedToMatch": true,
                                "display": true,
                                "type": "string",
                                "readOnly": false,
                                "removed": false
                            },
                            {
                                "id": "followers",
                                "displayName": "followers",
                                "required": false,
                                "defaultMatch": false,
                                "canBeUsedToMatch": true,
                                "display": true,
                                "type": "number",
                                "readOnly": false,
                                "removed": false
                            },
                            {
                                "id": "follow",
                                "displayName": "follow",
                                "required": false,
                                "defaultMatch": false,
                                "canBeUsedToMatch": true,
                                "display": true,
                                "type": "number",
                                "readOnly": false,
                                "removed": false
                            },
                            {
                                "id": "picture",
                                "displayName": "picture",
                                "required": false,
                                "defaultMatch": false,
                                "canBeUsedToMatch": true,
                                "display": true,
                                "type": "array",
                                "readOnly": false,
                                "removed": false
                            },
                            {
                                "id": "is_private",
                                "displayName": "is_private",
                                "required": false,
                                "defaultMatch": false,
                                "canBeUsedToMatch": true,
                                "display": true,
                                "type": "options",
                                "options": [
                                    {
                                        "name": "true",
                                        "value": "true"
                                    },
                                    {
                                        "name": "false",
                                        "value": "false"
                                    }
                                ],
                                "readOnly": false,
                                "removed": false
                            },
                            {
                                "id": "is_business_account",
                                "displayName": "is_business_account",
                                "required": false,
                                "defaultMatch": false,
                                "canBeUsedToMatch": true,
                                "display": true,
                                "type": "options",
                                "options": [
                                    {
                                        "name": "true",
                                        "value": "true"
                                    },
                                    {
                                        "name": "false",
                                        "value": "false"
                                    }
                                ],
                                "readOnly": false,
                                "removed": false
                            },
                            {
                                "id": "is_joined_recently",
                                "displayName": "is_joined_recently",
                                "required": false,
                                "defaultMatch": false,
                                "canBeUsedToMatch": true,
                                "display": true,
                                "type": "options",
                                "options": [
                                    {
                                        "name": "true",
                                        "value": "true"
                                    },
                                    {
                                        "name": "false",
                                        "value": "false"
                                    }
                                ],
                                "readOnly": false,
                                "removed": false
                            }
                        ],
                        "attemptToConvertTypes": false,
                        "convertFieldsToString": false
                    },
                    "options": {}
                },
                "type": "n8n-nodes-base.airtable",
                "typeVersion": 2.1,
                "position": [
                    784,
                    -80
                ],
                "id": "439d6056-e331-40af-b4dc-8a6eb8c3177e",
                "name": "Airtable",
                "credentials": {
                    "airtableTokenApi": {
                        "id": "FVwl5FUvH6ZKh3ki",
                        "name": "Airtable Datasets"
                    }
                }
            },
            {
                "parameters": {
                    "url": "=https://i.instagram.com/api/v1/users/web_profile_info/",
                    "sendQuery": true,
                    "queryParameters": {
                        "parameters": [
                            {
                                "name": "username",
                                "value": "={{ $json.username }}"
                            }
                        ]
                    },
                    "sendHeaders": true,
                    "specifyHeaders": "json",
                    "jsonHeaders": "={\n    \"Accept\": \"*/*\",\n    \"Accept-Encoding\": \"gzip, deflate, br\",\n    \"Accept-Language\": \"fr,en-US;q=0.9,en;q=0.8\",\n    \"Cache-Control\": \"max-age=0\",\n    \"Content-Type\": \"application/json\",\n    \"Host\": \"www.instagram.com\",\n    \"Referer\": \"https://www.instagram.com/{{ $json.username }}\",\n    \"x-ig-app-id\": \"936619743392459\",\n    \"User-Agent\": \"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/62.0.3202.94 Safari/537.36\"\n}",
                    "options": {}
                },
                "type": "n8n-nodes-base.httpRequest",
                "typeVersion": 4.2,
                "position": [
                    400,
                    0
                ],
                "id": "e35c0548-9acf-438b-a37a-c7caa54e14a7",
                "name": "HTTP Request",
                "alwaysOutputData": false,
                "onError": "continueErrorOutput"
            },
            {
                "parameters": {
                    "options": {}
                },
                "type": "@n8n/n8n-nodes-langchain.chatTrigger",
                "typeVersion": 1.1,
                "position": [
                    0,
                    -96
                ],
                "id": "4538681a-34ae-43b8-b934-cf6a5b01aebc",
                "name": "When chat message received",
                "webhookId": "551c6c5e-9e7c-49d4-8708-63472a48969f"
            },
            {
                "parameters": {
                    "graphApiVersion": "v23.0",
                    "node": "=me",
                    "options": {
                        "fields": {
                            "field": [
                                {
                                    "name": "id"
                                },
                                {
                                    "name": "username"
                                },
                                {
                                    "name": "name"
                                },
                                {
                                    "name": "biography"
                                },
                                {
                                    "name": "followers_count"
                                },
                                {
                                    "name": "follows_count"
                                },
                                {
                                    "name": "media"
                                }
                            ]
                        }
                    }
                },
                "type": "n8n-nodes-base.facebookGraphApi",
                "typeVersion": 1,
                "position": [
                    400,
                    -160
                ],
                "id": "f0e91f61-49c8-4e93-b750-babc80de8636",
                "name": "Facebook Graph API",
                "credentials": {
                    "facebookGraphApi": {
                        "id": "wXmos9gmbFrp5Xsq",
                        "name": "App n8n access"
                    }
                },
                "onError": "continueRegularOutput"
            },
            {
                "parameters": {
                    "conditions": {
                        "options": {
                            "caseSensitive": true,
                            "leftValue": "",
                            "typeValidation": "strict",
                            "version": 2
                        },
                        "conditions": [
                            {
                                "id": "8e619987-58e6-4b47-ada4-556041165897",
                                "leftValue": "={{ $json.error.message }}",
                                "rightValue": "Page introuvable",
                                "operator": {
                                    "type": "string",
                                    "operation": "contains"
                                }
                            },
                            {
                                "id": "c5f60374-0fdf-4fd9-b378-29fc3ea3d589",
                                "leftValue": "={{ $json.error.message }}",
                                "rightValue": "Veuillez patienter quelques minutes avant de réessayer",
                                "operator": {
                                    "type": "string",
                                    "operation": "contains"
                                }
                            }
                        ],
                        "combinator": "or"
                    },
                    "options": {}
                },
                "type": "n8n-nodes-base.if",
                "typeVersion": 2.2,
                "position": [
                    592,
                    80
                ],
                "id": "f9f6415f-f94f-4765-9e9e-dd095daed5a5",
                "name": "If"
            },
            {
                "parameters": {
                    "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nconst message = $input.all()[0][\"json\"][\"error\"][\"status\"] === 401 ? \"Patientez quelques minutes\" : \"Page introuvable\";\nreturn {\"reason\": message}"
                },
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    784,
                    80
                ],
                "id": "0719cd43-8631-4887-98bb-01a86bb3a113",
                "name": "Code1",
                "alwaysOutputData": false
            },
            {
                "parameters": {
                    "chatId": "1037310358",
                    "text": "={{ $json.reason }}",
                    "additionalFields": {}
                },
                "type": "n8n-nodes-base.telegram",
                "typeVersion": 1.2,
                "position": [
                    976,
                    80
                ],
                "id": "efcd6500-a77e-45ad-9207-02d8e8f205eb",
                "name": "Send a text message",
                "webhookId": "77519da9-4934-40a3-87f9-41a23b1feb95",
                "credentials": {
                    "telegramApi": {
                        "id": "AlCMwgvN0vx0V3z2",
                        "name": "InstaSets"
                    }
                }
            },
            {
                "parameters": {
                    "updates": [
                        "message"
                    ],
                    "additionalFields": {}
                },
                "type": "n8n-nodes-base.telegramTrigger",
                "typeVersion": 1.2,
                "position": [
                    0,
                    112
                ],
                "id": "2b078371-dcb1-4e11-b809-88c8d58db97e",
                "name": "Telegram Trigger",
                "webhookId": "cbd9dfb8-297d-4be8-ad04-8b0cd7b0c5c0",
                "credentials": {
                    "telegramApi": {
                        "id": "AlCMwgvN0vx0V3z2",
                        "name": "InstaSets"
                    }
                }
            }
        ],
        "connections": {
            "Code": {
                "main": [
                    [
                        {
                            "node": "HTTP Request",
                            "type": "main",
                            "index": 0
                        },
                        {
                            "node": "Facebook Graph API",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Edit Fields": {
                "main": [
                    [
                        {
                            "node": "Airtable",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "HTTP Request": {
                "main": [
                    [
                        {
                            "node": "Edit Fields",
                            "type": "main",
                            "index": 0
                        }
                    ],
                    [
                        {
                            "node": "If",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "When chat message received": {
                "main": [
                    [
                        {
                            "node": "Code",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Facebook Graph API": {
                "main": [
                    []
                ]
            },
            "If": {
                "main": [
                    [
                        {
                            "node": "Code1",
                            "type": "main",
                            "index": 0
                        }
                    ],
                    []
                ]
            },
            "Code1": {
                "main": [
                    [
                        {
                            "node": "Send a text message",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Telegram Trigger": {
                "main": [
                    [
                        {
                            "node": "Code",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            }
        },
        "authors": "Snake Tech",
        "name": "Version ee2444c6",
        "description": "",
        "autosaved": false
    },
    "tags": []
}