workflows/Level ONE.json
{
    "createdAt": "2025-06-15T12:51:29.112Z",
    "updatedAt": "2025-06-15T23:06:46.000Z",
    "id": "zBoCvjKGz5O7rgbs",
    "name": "Level ONE",
    "active": false,
    "isArchived": false,
    "nodes": [
        {
            "parameters": {
                "url": "https://internal.users.n8n.cloud/webhook/custom-erp",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "unique_id",
                            "value": "474442bdfbe861b66a08fbeaf2cb543d"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                40,
                20
            ],
            "id": "48ab21e7-2048-4235-acfd-89bca6a10479",
            "name": "HTTP Request1",
            "credentials": {
                "httpHeaderAuth": {
                    "id": "jaLnVREriWuH3M0P",
                    "name": "Level ONE"
                }
            }
        },
        {
            "parameters": {},
            "type": "n8n-nodes-base.manualTrigger",
            "typeVersion": 1,
            "position": [
                -160,
                20
            ],
            "id": "eb43e5d5-b3f5-42be-a110-7124be786cf1",
            "name": "When clicking ‘Execute workflow’"
        },
        {
            "parameters": {
                "operation": "create",
                "base": {
                    "__rl": true,
                    "value": "appAk01JZEi3tBjlM",
                    "mode": "list",
                    "cachedResultName": "Beginner Course",
                    "cachedResultUrl": "https://airtable.com/appAk01JZEi3tBjlM"
                },
                "table": {
                    "__rl": true,
                    "value": "tblEjGUYDWKsQnMF4",
                    "mode": "list",
                    "cachedResultName": "orders",
                    "cachedResultUrl": "https://airtable.com/appAk01JZEi3tBjlM/tblEjGUYDWKsQnMF4"
                },
                "columns": {
                    "mappingMode": "autoMapInputData",
                    "value": {},
                    "matchingColumns": [],
                    "schema": [
                        {
                            "id": "orderID",
                            "displayName": "orderID",
                            "required": false,
                            "defaultMatch": false,
                            "canBeUsedToMatch": true,
                            "display": true,
                            "type": "number",
                            "readOnly": false,
                            "removed": false
                        },
                        {
                            "id": "customerID",
                            "displayName": "customerID",
                            "required": false,
                            "defaultMatch": false,
                            "canBeUsedToMatch": true,
                            "display": true,
                            "type": "number",
                            "readOnly": false,
                            "removed": false
                        },
                        {
                            "id": "employeeName",
                            "displayName": "employeeName",
                            "required": false,
                            "defaultMatch": false,
                            "canBeUsedToMatch": true,
                            "display": true,
                            "type": "string",
                            "readOnly": false,
                            "removed": false
                        },
                        {
                            "id": "orderPrice",
                            "displayName": "orderPrice",
                            "required": false,
                            "defaultMatch": false,
                            "canBeUsedToMatch": true,
                            "display": true,
                            "type": "number",
                            "readOnly": false,
                            "removed": false
                        },
                        {
                            "id": "orderStatus",
                            "displayName": "orderStatus",
                            "required": false,
                            "defaultMatch": false,
                            "canBeUsedToMatch": true,
                            "display": true,
                            "type": "string",
                            "readOnly": false,
                            "removed": false
                        }
                    ],
                    "attemptToConvertTypes": false,
                    "convertFieldsToString": false
                },
                "options": {}
            },
            "type": "n8n-nodes-base.airtable",
            "typeVersion": 2.1,
            "position": [
                500,
                -20
            ],
            "id": "6ee3e290-9b9c-4f66-8ae4-d925b41bb7eb",
            "name": "Airtable",
            "credentials": {
                "airtableTokenApi": {
                    "id": "X6jrSAkc62Mri9ZJ",
                    "name": "Level ONE"
                }
            }
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict",
                        "version": 2
                    },
                    "conditions": [
                        {
                            "id": "c0af51be-ded6-4bb0-a8f6-b0eaa4e3404a",
                            "leftValue": "={{ $json.orderStatus }}",
                            "rightValue": "booked",
                            "operator": {
                                "type": "string",
                                "operation": "equals",
                                "name": "filter.operator.equals"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.2,
            "position": [
                260,
                20
            ],
            "id": "49c2fc88-6c87-4a12-8779-f80edb2f2e87",
            "name": "If"
        }
    ],
    "connections": {
        "When clicking ‘Execute workflow’": {
            "main": [
                [
                    {
                        "node": "HTTP Request1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "HTTP Request1": {
            "main": [
                [
                    {
                        "node": "If",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "If": {
            "main": [
                [
                    {
                        "node": "Airtable",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    },
    "staticData": null,
    "meta": {
        "templateCredsSetupCompleted": true
    },
    "pinData": {},
    "versionId": "627f85db-a45b-4177-b9f6-cc038b194e94",
    "triggerCount": 0,
    "tags": []
}