workflows/My workflow 2.json
{
    "createdAt": "2025-06-04T23:34:23.911Z",
    "updatedAt": "2025-06-06T12:50:48.000Z",
    "id": "j8xdbZGFknq9GQkB",
    "name": "My workflow 2",
    "active": false,
    "isArchived": true,
    "nodes": [
        {
            "parameters": {},
            "id": "236a7b13-d940-453d-8f98-1a6519d24c70",
            "name": "When clicking 'Execute Workflow'",
            "type": "n8n-nodes-base.manualTrigger",
            "typeVersion": 1,
            "position": [
                -420,
                240
            ]
        },
        {
            "parameters": {
                "mode": "raw",
                "jsonOutput": "{\n  \"NOCODB_API_TOKEN\": \"ndu_5y1cZyRtiwqXbzhpE70C8iGUiy9tlhe5KLVG\",\n  \"NOCODB_BASE_URL\": \"http://192.168.1.116:8146\", \n  \"TABLE_ID\": \"ml8fpkjqhrhqwvb\",\n  \"OLD_COLUMN_TITLE\": \"Id\",\n  \"NEW_COLUMN_TITLE\": \"app_id\"\n}",
                "options": {}
            },
            "id": "cf34bff5-e455-4ab4-ae15-970448d1991a",
            "name": "Configuration",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3,
            "position": [
                -200,
                240
            ]
        },
        {
            "parameters": {
                "url": "={{ $node.Configuration.json.NOCODB_BASE_URL }}/api/v2/meta/tables/{{ $node.Configuration.json.TABLE_ID }}",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {}
                    ]
                },
                "options": {}
            },
            "id": "c08bbaf8-4a69-4099-8d7d-17891e44fb08",
            "name": "Get Table Schema",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4,
            "position": [
                20,
                240
            ],
            "credentials": {
                "httpHeaderAuth": {
                    "id": "3sytPF58vLXwSQtC",
                    "name": "Header Auth account"
                }
            }
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict",
                        "version": 1
                    },
                    "conditions": [
                        {
                            "id": "condition1",
                            "leftValue": "={{ $json.columns.find(col => col.title === $('Configuration').item.json.NEW_COLUMN_TITLE) }}",
                            "rightValue": "",
                            "operator": {
                                "type": "object",
                                "operation": "notEmpty",
                                "singleValue": true
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {
                    "looseTypeValidation": false
                }
            },
            "id": "0ebfe7ba-9189-4558-b77a-a03db5c8055c",
            "name": "Validate New Column Exists",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                240,
                240
            ]
        },
        {
            "parameters": {
                "method": "PATCH",
                "url": "={{ $node.Configuration.json.NOCODB_BASE_URL }}/api/v2/meta/columns/{{ $json.current_schema.primary_key.id }}",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "=[ \n  {  \n    \"title\": \"{{ $json.current_schema.primary_key.title }}\",\n    \"pk\": \"false\",\n    \"un\": false\n  } \n] ",
                "options": {}
            },
            "id": "fe8b2bbf-8598-4cc1-a010-7aa3d2363634",
            "name": "Remove Old Primary Key",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4,
            "position": [
                460,
                200
            ],
            "credentials": {
                "httpHeaderAuth": {
                    "id": "3sytPF58vLXwSQtC",
                    "name": "Header Auth account"
                }
            }
        },
        {
            "parameters": {
                "method": "PATCH",
                "url": "={{ $node.Configuration.json.NOCODB_BASE_URL }}/api/v2/meta/columns/{{ $('Create Backup & Validate').item.json.current_schema.target_column.id }}",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "=[ \n  {  \n    \"title\": \"{{ $('Create Backup & Validate').item.json.current_schema.target_column.title }}\",\n    \"pk\": true,\n    \"rqd\": true,\n    \"un\": true\n  } \n] ",
                "options": {}
            },
            "id": "5d113e91-e402-40af-87b6-b8c238e8260e",
            "name": "Set New Primary Key",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4,
            "position": [
                680,
                200
            ],
            "credentials": {
                "httpHeaderAuth": {
                    "id": "3sytPF58vLXwSQtC",
                    "name": "Header Auth account"
                }
            }
        },
        {
            "parameters": {
                "url": "={{ $node.Configuration.json.NOCODB_BASE_URL }}/api/v1/db/meta/tables/{{ $node.Configuration.json.TABLE_ID }}",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "options": {}
            },
            "id": "07210247-e042-4a8a-8e6d-969767120067",
            "name": "Verify Changes",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4,
            "position": [
                900,
                200
            ],
            "credentials": {
                "httpHeaderAuth": {
                    "id": "3sytPF58vLXwSQtC",
                    "name": "Header Auth account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// Créer un rapport des modifications\nconst columns = $input.first().json.columns;\nconst config = $('Configuration').first().json;\n\nconst oldPrimaryKey = columns.find(col => col.title === config.OLD_COLUMN_TITLE);\nconst newPrimaryKey = columns.find(col => col.title === config.NEW_COLUMN_TITLE);\n\nconst report = {\n  success: true,\n  timestamp: new Date().toISOString(),\n  table_id: config.TABLE_ID,\n  changes: {\n    old_primary_key: {\n      id: oldPrimaryKey?.id,\n      title: oldPrimaryKey?.title,\n      is_primary: oldPrimaryKey?.pk || false\n    },\n    new_primary_key: {\n      id: newPrimaryKey?.id,\n      title: newPrimaryKey?.title,\n      is_primary: newPrimaryKey?.pk || false\n    }\n  },\n  validation: {\n    old_pk_removed: !oldPrimaryKey?.pk,\n    new_pk_set: newPrimaryKey?.pk === true,\n    new_pk_required: newPrimaryKey?.rqd === true,\n    new_pk_unique: newPrimaryKey?.un === true\n  }\n};\n\nreturn { json: report };"
            },
            "id": "7ec89ec3-0e3f-49b7-9fa1-0a218c80a937",
            "name": "Generate Report",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1120,
                200
            ]
        },
        {
            "parameters": {},
            "id": "1782d1ba-60c3-4321-9db7-6439b0974c05",
            "name": "Error - Column Not Found",
            "type": "n8n-nodes-base.stopAndError",
            "typeVersion": 1,
            "position": [
                460,
                360
            ]
        },
        {
            "parameters": {
                "jsCode": "// Backup de la configuration actuelle avant modification\nconst columns = $input.first().json.columns;\nconst config = $('Configuration').first().json;\n\nconst currentPrimaryKey = columns.find(col => col.pk === true);\nconst targetColumn = columns.find(col => col.title === config.NEW_COLUMN_TITLE);\n\nconst backup = {\n  timestamp: new Date().toISOString(),\n  table_id: config.TABLE_ID,\n  table_name: $input.first().json.table_name,\n  current_schema: {\n    primary_key: currentPrimaryKey,\n    target_column: targetColumn,\n    all_columns: columns.map(col => ({\n      id: col.id,\n      title: col.title,\n      uidt: col.uidt,\n      pk: col.pk,\n      rqd: col.rqd,\n      un: col.un\n    }))\n  },\n  validation_checks: {\n    target_column_exists: !!targetColumn,\n    target_has_unique_constraint: targetColumn?.un === true,\n    target_is_required: targetColumn?.rqd === true,\n    current_pk_column: currentPrimaryKey?.title\n  }\n};\n\n// Vérifications de sécurité\nif (!targetColumn) {\n  throw new Error(`Colonne cible ${config.NEW_COLUMN_TITLE} introuvable`);\n}\n\nif (targetColumn.pk === true) {\n  throw new Error(`La colonne ${targetColumn.title} est déjà la clé primaire`);\n}\n\nreturn { json: backup };"
            },
            "id": "58117d3a-170a-4f9a-9beb-f821c05a4efe",
            "name": "Create Backup & Validate",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                460,
                0
            ]
        }
    ],
    "connections": {
        "When clicking 'Execute Workflow'": {
            "main": [
                [
                    {
                        "node": "Configuration",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Configuration": {
            "main": [
                [
                    {
                        "node": "Get Table Schema",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Table Schema": {
            "main": [
                [
                    {
                        "node": "Validate New Column Exists",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Validate New Column Exists": {
            "main": [
                [
                    {
                        "node": "Create Backup & Validate",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Error - Column Not Found",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Remove Old Primary Key": {
            "main": [
                [
                    {
                        "node": "Set New Primary Key",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Set New Primary Key": {
            "main": [
                [
                    {
                        "node": "Verify Changes",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Verify Changes": {
            "main": [
                [
                    {
                        "node": "Generate Report",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Create Backup & Validate": {
            "main": [
                [
                    {
                        "node": "Remove Old Primary Key",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    },
    "staticData": null,
    "meta": null,
    "pinData": {},
    "versionId": "4f1832cb-cc1e-40fc-a296-84976540acc4",
    "triggerCount": 0,
    "tags": []
}