workflows/Nightly n8n backup to Google Drive.json
{
    "createdAt": "2025-04-06T14:53:11.801Z",
    "updatedAt": "2025-05-28T15:26:54.000Z",
    "id": "hCb0B7jLmzY3khOX",
    "name": "Nightly n8n backup to Google Drive",
    "active": false,
    "isArchived": false,
    "nodes": [
        {
            "parameters": {
                "content": "MOVE CURRENT BACKUPS TO OLD FOLDER",
                "height": 248,
                "width": 863,
                "color": 4
            },
            "id": "1e89a8ad-90cf-4040-b59e-1b4933ea4e69",
            "name": "Sticky Note",
            "type": "n8n-nodes-base.stickyNote",
            "position": [
                2200,
                220
            ],
            "typeVersion": 1
        },
        {
            "parameters": {
                "content": "PURGE BACKUPS OLDER THEN 30 DAYS\n",
                "height": 228,
                "width": 1161
            },
            "id": "f998e295-eafd-420a-9ba9-69571b4ab005",
            "name": "Sticky Note2",
            "type": "n8n-nodes-base.stickyNote",
            "position": [
                2200,
                800
            ],
            "typeVersion": 1
        },
        {
            "parameters": {
                "mode": "jsonToBinary",
                "options": {
                    "fileName": "={{ $json.name }}-{{ $json.active === false ? 'inactive' : $json.active === true ? 'active' : 'unknown' }}",
                    "useRawData": true
                }
            },
            "id": "a94facb5-c0df-4ba4-8620-3427aca24333",
            "name": "Move Binary Data",
            "type": "n8n-nodes-base.moveBinaryData",
            "position": [
                2420,
                580
            ],
            "typeVersion": 1
        },
        {
            "parameters": {
                "content": "## get Google Drive folders",
                "height": 796,
                "width": 1023,
                "color": 2
            },
            "id": "049ac29e-36f2-4a14-9d3a-6fd9c9d8a744",
            "name": "Sticky Note3",
            "type": "n8n-nodes-base.stickyNote",
            "position": [
                800,
                240
            ],
            "typeVersion": 1
        },
        {
            "parameters": {
                "content": "## Ignore any other folders other than: n8n_backups\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n    (it is important that you created this folder)",
                "height": 813,
                "width": 327,
                "color": 6
            },
            "id": "e830c989-815d-4c79-806e-136a82a18d72",
            "name": "Sticky Note4",
            "type": "n8n-nodes-base.stickyNote",
            "position": [
                1840,
                220
            ],
            "typeVersion": 1
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "version": 2,
                        "leftValue": "",
                        "caseSensitive": true,
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "id": "98415e9e-5354-4223-9107-ef3ade30c2f0",
                            "operator": {
                                "name": "filter.operator.equals",
                                "type": "string",
                                "operation": "equals"
                            },
                            "leftValue": "={{ $node[\"GET CURRENT FOLDER\"].json.name }}",
                            "rightValue": "={{ $('Destination folders').first().json.folder }}"
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "id": "4197519c-0cf7-49dc-be45-a5c0ab7598c2",
            "name": "IGNORE FILES",
            "type": "n8n-nodes-base.filter",
            "position": [
                1940,
                360
            ],
            "typeVersion": 2.2
        },
        {
            "parameters": {
                "resource": "folder",
                "name": "={{ $('Destination folders').first().json.folder }}",
                "driveId": {
                    "__rl": true,
                    "mode": "list",
                    "value": "My Drive"
                },
                "folderId": {
                    "__rl": true,
                    "mode": "list",
                    "value": "root",
                    "cachedResultName": "/ (Root folder)"
                },
                "options": {}
            },
            "id": "d3f6191a-80c6-43dd-923f-e98f9ade02f4",
            "name": "Create n8n_backups",
            "type": "n8n-nodes-base.googleDrive",
            "position": [
                1580,
                620
            ],
            "typeVersion": 3,
            "credentials": {
                "googleDriveOAuth2Api": {
                    "id": "Y4E7vsz7eUO3sV7g",
                    "name": "Google Drive account"
                }
            }
        },
        {
            "parameters": {
                "content": "## Contact me \n**By Mail**. [Send Mail](mailto:nuntius.creative.hub@gmail.com)",
                "height": 105.6805438265643,
                "width": 355.73762189847923,
                "color": 6
            },
            "id": "d22a25ea-e1fd-4434-b050-480760f6ba11",
            "name": "Sticky Note8",
            "type": "n8n-nodes-base.stickyNote",
            "position": [
                860,
                860
            ],
            "typeVersion": 1
        },
        {
            "parameters": {
                "content": "## Since the folder does not exist, it creates a new one.",
                "height": 451.756147757587,
                "width": 327.6965514381564,
                "color": 5
            },
            "id": "b34e1e76-a8b8-4e0d-921b-1a773192e027",
            "name": "Sticky Note10",
            "type": "n8n-nodes-base.stickyNote",
            "position": [
                1460,
                520
            ],
            "typeVersion": 1
        },
        {
            "parameters": {
                "resource": "fileFolder",
                "filter": {
                    "folderId": {
                        "__rl": true,
                        "value": "root",
                        "mode": "list",
                        "cachedResultName": "/ (Root folder)",
                        "cachedResultUrl": "https://drive.google.com/drive"
                    },
                    "whatToSearch": "folders"
                },
                "options": {}
            },
            "id": "f0796631-ecb8-4603-838f-0ac1d1bf0a7b",
            "name": "GET CURRENT FOLDER",
            "type": "n8n-nodes-base.googleDrive",
            "position": [
                940,
                680
            ],
            "executeOnce": true,
            "notesInFlow": true,
            "retryOnFail": true,
            "typeVersion": 3,
            "alwaysOutputData": true,
            "credentials": {
                "googleDriveOAuth2Api": {
                    "id": "Y4E7vsz7eUO3sV7g",
                    "name": "Google Drive account"
                }
            },
            "onError": "continueRegularOutput"
        },
        {
            "parameters": {
                "jsCode": "const items = $input.all();\nconst requiredNames = [$('Destination folders').first().json.folder, $('Destination folders').first().json.folder_old];\n\n// Filtrar los nombres de la entrada\nconst folderNames = items.map(item => item.json.name);\n\n// Encontrar los nombres que faltan\nconst missingNames = requiredNames.filter(name => !folderNames.includes(name));\n\nif (missingNames.length === 0) {\n  return [{ json: { message: \"ok\" } }];\n} else {\n  return [{ json: { message: `Faltan los siguientes: ${missingNames.join(', ')}` } }];\n}\n"
            },
            "id": "8afbde8d-ae70-427c-8883-ffd49aea7ba7",
            "name": "Code",
            "type": "n8n-nodes-base.code",
            "position": [
                1060,
                540
            ],
            "typeVersion": 2
        },
        {
            "parameters": {
                "resource": "fileFolder",
                "returnAll": true,
                "filter": {
                    "whatToSearch": "folders"
                },
                "options": {}
            },
            "id": "0a215059-a7bf-4892-b584-1f037b42a59c",
            "name": "GET CURRENT FOLDER CREATES",
            "type": "n8n-nodes-base.googleDrive",
            "position": [
                1680,
                340
            ],
            "executeOnce": true,
            "notesInFlow": true,
            "retryOnFail": true,
            "typeVersion": 3,
            "alwaysOutputData": true,
            "credentials": {
                "googleDriveOAuth2Api": {
                    "id": "Y4E7vsz7eUO3sV7g",
                    "name": "Google Drive account"
                }
            },
            "onError": "continueRegularOutput"
        },
        {
            "parameters": {
                "mode": "combine",
                "combinationMode": "mergeByPosition",
                "options": {}
            },
            "id": "653d641c-b56f-4a02-b3bf-990b4f6b99f3",
            "name": "Merge mensage",
            "type": "n8n-nodes-base.merge",
            "position": [
                1520,
                340
            ],
            "typeVersion": 2.1
        },
        {
            "parameters": {
                "resource": "fileFolder",
                "queryString": ".json",
                "returnAll": true,
                "filter": {
                    "folderId": {
                        "__rl": true,
                        "mode": "id",
                        "value": "={{ $json.id }}"
                    }
                },
                "options": {
                    "fields": [
                        "name",
                        "id"
                    ]
                }
            },
            "id": "ae940b77-107a-4e6f-a635-a69876b342ea",
            "name": "GET CURRENT BACKUPS1",
            "type": "n8n-nodes-base.googleDrive",
            "position": [
                2240,
                300
            ],
            "typeVersion": 3,
            "credentials": {
                "googleDriveOAuth2Api": {
                    "id": "Y4E7vsz7eUO3sV7g",
                    "name": "Google Drive account"
                }
            }
        },
        {
            "parameters": {
                "content": "## Does a folder exist?, if it does not exist it creates it",
                "height": 542.95115693689,
                "width": 203.08765089203305,
                "color": 7
            },
            "id": "7caa0190-9bd5-4572-80e3-e3f3b34885a6",
            "name": "Sticky Note5",
            "type": "n8n-nodes-base.stickyNote",
            "position": [
                1200,
                280
            ],
            "typeVersion": 1
        },
        {
            "parameters": {
                "operation": "move",
                "fileId": {
                    "__rl": true,
                    "mode": "id",
                    "value": "={{ $json.id }}"
                },
                "driveId": {
                    "__rl": true,
                    "mode": "list",
                    "value": "My Drive",
                    "cachedResultUrl": "https://drive.google.com/drive/my-drive",
                    "cachedResultName": "My Drive"
                },
                "folderId": {
                    "__rl": true,
                    "value": "1akhUijeFgEX4DwHXdGa4-1KpNmlxOKzS",
                    "mode": "list",
                    "cachedResultName": "n8n_backups_old",
                    "cachedResultUrl": "https://drive.google.com/drive/folders/1akhUijeFgEX4DwHXdGa4-1KpNmlxOKzS"
                }
            },
            "id": "1a77a0fd-dfdd-456d-adfc-6da34a4ccbab",
            "name": "MOVE INTO OLD FOLDER",
            "type": "n8n-nodes-base.googleDrive",
            "position": [
                2880,
                240
            ],
            "typeVersion": 3,
            "alwaysOutputData": true,
            "credentials": {
                "googleDriveOAuth2Api": {
                    "id": "Y4E7vsz7eUO3sV7g",
                    "name": "Google Drive account"
                }
            },
            "onError": "continueRegularOutput"
        },
        {
            "parameters": {
                "authentication": "oAuth2",
                "binaryData": true,
                "name": "={{ $('Loop Over New Items').item.binary.data.fileName }}-{{ $node[\"n8n\"].json[\"updatedAt\"] }}.json\n\n",
                "parents": [
                    "={{ $('IGNORE FILES').item.json.id }}"
                ],
                "options": {}
            },
            "id": "f9fad351-8e82-49a3-a7da-7a43b0735c34",
            "name": "UPLOAD WORKFLOWS",
            "type": "n8n-nodes-base.googleDrive",
            "position": [
                2880,
                540
            ],
            "typeVersion": 1,
            "credentials": {
                "googleDriveOAuth2Api": {
                    "id": "Y4E7vsz7eUO3sV7g",
                    "name": "Google Drive account"
                }
            }
        },
        {
            "parameters": {
                "content": "## Description\nThis template creates a nightly backup of all n8n workflows and saves them to a GitHub folder. Each night, the previous night's backups are moved to an “n8n_old” folder and renamed with the corresponding date.\n\nBackups older than a specified age are automatically deleted (this feature is active for 30 days, you can remove it if you don't want the backups to be deleted).\n\n## Prerequisites\n\n- Google Drive account and credentials **Get** from the following link. [Link](https://console.cloud.google.com/apis/credentials/oauthclient/)\n- n8n version 1.67.1 or higher\n- N8n api key **Guide** from the following link. [Link](https://witmovil.com/where-to-create-the-api-key-in-n8n/)\n- A destination folder for backups:\n“n8n_old”\n“n8n_backups”\n(if it doesn't exist, create it)\n\n## Configuration\nUpdate all Google Drive nodes with your credentials.\nEdit the Schedule Trigger node with the desired time to run the backup.\nIf you want to automatically purge old backups.\n\nEdit the “PURGE DAYS” node to specify the age of the backups you want to delete.\nEnable the “PURGE DAYS” node and the 3 subsequent nodes.\nEnable the workflow to run on the specified schedule.",
                "height": 759.2757638563562,
                "width": 397.07512898799075,
                "color": 3
            },
            "id": "c8496ac4-b767-4fc3-bda3-12c0550763c4",
            "name": "Sticky Note6",
            "type": "n8n-nodes-base.stickyNote",
            "position": [
                380,
                240
            ],
            "typeVersion": 1
        },
        {
            "parameters": {
                "fieldToSplitOut": "id",
                "options": {}
            },
            "id": "4654d857-8436-4922-aa9a-9f00d357e581",
            "name": "Item Lists",
            "type": "n8n-nodes-base.itemLists",
            "position": [
                2420,
                300
            ],
            "typeVersion": 3
        },
        {
            "parameters": {
                "returnAll": false,
                "filters": {},
                "requestOptions": {}
            },
            "id": "aa9a5b1c-2c6b-4aff-af66-f15271eed643",
            "name": "n8n",
            "type": "n8n-nodes-base.n8n",
            "position": [
                2240,
                580
            ],
            "typeVersion": 1,
            "credentials": {
                "n8nApi": {
                    "id": "CZA86B6Hbh4AZWcQ",
                    "name": "n8n account"
                }
            }
        },
        {
            "parameters": {
                "resource": "fileFolder",
                "queryString": ".json",
                "returnAll": true,
                "filter": {
                    "folderId": {
                        "__rl": true,
                        "value": "1akhUijeFgEX4DwHXdGa4-1KpNmlxOKzS",
                        "mode": "list",
                        "cachedResultName": "n8n_backups_old",
                        "cachedResultUrl": "https://drive.google.com/drive/folders/1akhUijeFgEX4DwHXdGa4-1KpNmlxOKzS"
                    }
                },
                "options": {
                    "fields": [
                        "name",
                        "id",
                        "*"
                    ]
                }
            },
            "id": "d6455261-c3af-4f5a-8f7e-0dd57c5306e5",
            "name": "LIST OLD BACKUPS",
            "type": "n8n-nodes-base.googleDrive",
            "position": [
                2420,
                860
            ],
            "typeVersion": 3,
            "credentials": {
                "googleDriveOAuth2Api": {
                    "id": "Y4E7vsz7eUO3sV7g",
                    "name": "Google Drive account"
                }
            }
        },
        {
            "parameters": {
                "operation": "deleteFile",
                "fileId": {
                    "__rl": true,
                    "value": "={{ $json.id }}",
                    "mode": "id"
                },
                "options": {
                    "deletePermanently": true
                }
            },
            "id": "aa1878bd-b90e-4f37-bf2e-bb4fd72b4571",
            "name": "DELETE OLD BACKUP",
            "type": "n8n-nodes-base.googleDrive",
            "position": [
                3180,
                820
            ],
            "typeVersion": 3,
            "alwaysOutputData": true,
            "credentials": {
                "googleDriveOAuth2Api": {
                    "id": "Y4E7vsz7eUO3sV7g",
                    "name": "Google Drive account"
                }
            },
            "onError": "continueRegularOutput"
        },
        {
            "parameters": {
                "fieldToSplitOut": "id, createdTime",
                "options": {}
            },
            "id": "bde79076-3fb4-4f03-a907-fc492f88a17e",
            "name": "Item Lists old",
            "type": "n8n-nodes-base.itemLists",
            "position": [
                2580,
                860
            ],
            "typeVersion": 3
        },
        {
            "parameters": {
                "content": "BACKUP ALL CURRENT WORKFLOWS limit 100 (Change)",
                "height": 267,
                "width": 865,
                "color": 5
            },
            "id": "cf2d27b7-8601-466a-8331-c767b9c0c25a",
            "name": "Sticky Note1",
            "type": "n8n-nodes-base.stickyNote",
            "position": [
                2200,
                500
            ],
            "typeVersion": 1
        },
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "triggerAtHour": 2
                        }
                    ]
                }
            },
            "id": "484b37a9-8b21-4887-9443-bcb8ca34b57d",
            "name": "Schedule Trigger",
            "type": "n8n-nodes-base.scheduleTrigger",
            "position": [
                860,
                320
            ],
            "typeVersion": 1.1
        },
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "daysInterval": 30,
                            "triggerAtHour": 3
                        }
                    ]
                }
            },
            "id": "40a6f21f-f044-4bb5-8d01-1fbdc4185eae",
            "name": "Schedule Trigger1",
            "type": "n8n-nodes-base.scheduleTrigger",
            "position": [
                2240,
                860
            ],
            "typeVersion": 1.1
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "b8fa3100-81e3-4813-a56f-53ec6cae4539",
                            "name": "folder_root",
                            "value": "n8n",
                            "type": "string"
                        },
                        {
                            "id": "5ec7c417-b41f-4bdb-a5cf-7ae121ca2c11",
                            "name": "folder",
                            "value": "n8n_backups",
                            "type": "string"
                        },
                        {
                            "id": "ba22159d-cb33-4425-9c4e-172650ddc9a6",
                            "name": "folder_old",
                            "value": "n8n_backups_old",
                            "type": "string"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                880,
                480
            ],
            "id": "d00a155d-738e-41be-80d9-77aa876b5223",
            "name": "Destination folders"
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "version": 2,
                        "leftValue": "",
                        "caseSensitive": true,
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "id": "43bd468e-1018-4b45-9448-c51835ed65bc",
                            "operator": {
                                "type": "string",
                                "operation": "contains"
                            },
                            "leftValue": "={{ $json.message }}",
                            "rightValue": "={{ $('Destination folders').first().json.folder }}"
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "id": "76a4ab52-b260-4a1e-be77-a7246a06b963",
            "name": "If n8n_backups",
            "type": "n8n-nodes-base.if",
            "position": [
                1260,
                460
            ],
            "typeVersion": 2.2
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "version": 2,
                        "leftValue": "",
                        "caseSensitive": true,
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "id": "43bd468e-1018-4b45-9448-c51835ed65bc",
                            "operator": {
                                "type": "string",
                                "operation": "contains"
                            },
                            "leftValue": "={{ $json.message }}",
                            "rightValue": "={{ $('Destination folders').first().json.folder_old }}"
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "id": "2130d3d8-23e4-48d6-b3a0-7eab5971a71d",
            "name": "If n8n_backups_old",
            "type": "n8n-nodes-base.if",
            "position": [
                1260,
                640
            ],
            "typeVersion": 2.2
        },
        {
            "parameters": {
                "resource": "folder",
                "name": "={{ $('Destination folders').first().json.folder_old }}",
                "driveId": {
                    "__rl": true,
                    "mode": "list",
                    "value": "My Drive"
                },
                "folderId": {
                    "__rl": true,
                    "mode": "list",
                    "value": "root",
                    "cachedResultName": "/ (Root folder)"
                },
                "options": {}
            },
            "id": "b0ff6563-4ad5-4615-844a-aea766cf0d40",
            "name": "Create n8n_backups_old",
            "type": "n8n-nodes-base.googleDrive",
            "position": [
                1580,
                800
            ],
            "typeVersion": 3,
            "credentials": {
                "googleDriveOAuth2Api": {
                    "id": "Y4E7vsz7eUO3sV7g",
                    "name": "Google Drive account"
                }
            }
        },
        {
            "parameters": {
                "batchSize": 200,
                "options": {}
            },
            "type": "n8n-nodes-base.splitInBatches",
            "typeVersion": 3,
            "position": [
                2660,
                240
            ],
            "id": "f8bc0f17-50ea-4bff-8c1d-8c55fd5eb04e",
            "name": "Loop Over History Items"
        },
        {
            "parameters": {
                "batchSize": 200,
                "options": {}
            },
            "type": "n8n-nodes-base.splitInBatches",
            "typeVersion": 3,
            "position": [
                2660,
                540
            ],
            "id": "aee7dff1-268a-4fce-af21-67a1139e1f96",
            "name": "Loop Over New Items"
        },
        {
            "parameters": {
                "batchSize": 200,
                "options": {}
            },
            "type": "n8n-nodes-base.splitInBatches",
            "typeVersion": 3,
            "position": [
                2780,
                820
            ],
            "id": "d1a7ad6d-08f7-460a-813e-7eab3e1d3515",
            "name": "Loop Over Old Items"
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict",
                        "version": 2
                    },
                    "conditions": [
                        {
                            "id": "8eee1f2a-2944-4091-b2b2-fd215d188a6a",
                            "leftValue": "={{ $json.createdTime }}",
                            "rightValue": "={{$today.minus({days: 30}).toLocaleString()}}",
                            "operator": {
                                "type": "dateTime",
                                "operation": "before"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.2,
            "position": [
                3000,
                820
            ],
            "id": "807aa7fc-e3bd-42df-a35f-156c155388c3",
            "name": "If"
        }
    ],
    "connections": {
        "n8n": {
            "main": [
                [
                    {
                        "node": "Move Binary Data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Code": {
            "main": [
                [
                    {
                        "node": "If n8n_backups_old",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "If n8n_backups",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Item Lists": {
            "main": [
                [
                    {
                        "node": "Loop Over History Items",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "IGNORE FILES": {
            "main": [
                [
                    {
                        "node": "GET CURRENT BACKUPS1",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "n8n",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Merge mensage": {
            "main": [
                [
                    {
                        "node": "GET CURRENT FOLDER CREATES",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Item Lists old": {
            "main": [
                [
                    {
                        "node": "Loop Over Old Items",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "LIST OLD BACKUPS": {
            "main": [
                [
                    {
                        "node": "Item Lists old",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Move Binary Data": {
            "main": [
                [
                    {
                        "node": "Loop Over New Items",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Schedule Trigger": {
            "main": [
                [
                    {
                        "node": "Destination folders",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "UPLOAD WORKFLOWS": {
            "main": [
                [
                    {
                        "node": "Loop Over New Items",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "DELETE OLD BACKUP": {
            "main": [
                [
                    {
                        "node": "Loop Over Old Items",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Create n8n_backups": {
            "main": [
                [
                    {
                        "node": "Destination folders",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "GET CURRENT FOLDER": {
            "main": [
                [
                    {
                        "node": "Code",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "GET CURRENT BACKUPS1": {
            "main": [
                [
                    {
                        "node": "Item Lists",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "MOVE INTO OLD FOLDER": {
            "main": [
                [
                    {
                        "node": "Loop Over History Items",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "GET CURRENT FOLDER CREATES": {
            "main": [
                [
                    {
                        "node": "IGNORE FILES",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Schedule Trigger1": {
            "main": [
                [
                    {
                        "node": "LIST OLD BACKUPS",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Destination folders": {
            "main": [
                [
                    {
                        "node": "GET CURRENT FOLDER",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "If n8n_backups": {
            "main": [
                [
                    {
                        "node": "Create n8n_backups",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Merge mensage",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "If n8n_backups_old": {
            "main": [
                [
                    {
                        "node": "Create n8n_backups_old",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Merge mensage",
                        "type": "main",
                        "index": 1
                    }
                ]
            ]
        },
        "Create n8n_backups_old": {
            "main": [
                [
                    {
                        "node": "Destination folders",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Loop Over History Items": {
            "main": [
                [],
                [
                    {
                        "node": "MOVE INTO OLD FOLDER",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Loop Over New Items": {
            "main": [
                [],
                [
                    {
                        "node": "UPLOAD WORKFLOWS",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Loop Over Old Items": {
            "main": [
                [],
                [
                    {
                        "node": "If",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "If": {
            "main": [
                [
                    {
                        "node": "DELETE OLD BACKUP",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Loop Over Old Items",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {},
    "staticData": {
        "node:Schedule Trigger": {
            "recurrenceRules": []
        },
        "node:Schedule Trigger1": {
            "recurrenceRules": [
                127
            ]
        }
    },
    "meta": {
        "templateId": "2469"
    },
    "pinData": {},
    "versionId": "bc7b11af-19d1-4400-81ed-107f871df36f",
    "triggerCount": 2,
    "tags": [
        {
            "createdAt": "2025-04-06T22:25:36.119Z",
            "updatedAt": "2025-04-06T22:25:36.119Z",
            "id": "FonH40fYgFPBKvBz",
            "name": "save"
        }
    ]
}