workflows/Notification.json
{
    "updatedAt": "2026-01-12T01:07:47.245Z",
    "createdAt": "2025-05-27T21:55:06.402Z",
    "id": "kx94Z2Th3dyVsVrw",
    "name": "Notification",
    "active": true,
    "isArchived": false,
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "simple-notification",
                "options": {}
            },
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                -144,
                -304
            ],
            "id": "aa795329-6fc0-4c2e-9b37-98b722f66cdf",
            "name": "Webhook",
            "webhookId": "4f7d2d03-1665-4186-a453-a5e6567abd68"
        },
        {
            "parameters": {
                "chatId": "1037310358",
                "text": "={{ $json.body.diff }}",
                "additionalFields": {
                    "appendAttribution": false
                }
            },
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1.2,
            "position": [
                1744,
                -288
            ],
            "id": "3e894bfb-62bb-4f57-9cab-26716d9289b1",
            "name": "Telegram",
            "webhookId": "e8f8b499-5646-41c2-9408-1ed9b4ae64fd",
            "credentials": {
                "telegramApi": {
                    "id": "rUrqlq4srZZdKyG1",
                    "name": "SimpleNotification"
                }
            }
        },
        {
            "parameters": {
                "rules": {
                    "values": [
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "loose",
                                    "version": 2
                                },
                                "conditions": [
                                    {
                                        "leftValue": "={{ $json.body.snapshot }}",
                                        "rightValue": "epic",
                                        "operator": {
                                            "type": "string",
                                            "operation": "contains"
                                        },
                                        "id": "9f41d976-dd20-4210-8652-991b7412b7fc"
                                    }
                                ],
                                "combinator": "and"
                            }
                        }
                    ]
                },
                "looseTypeValidation": true,
                "options": {
                    "fallbackOutput": "extra"
                }
            },
            "type": "n8n-nodes-base.switch",
            "typeVersion": 3.2,
            "position": [
                144,
                -304
            ],
            "id": "07dacf5a-9e19-4891-9142-311e88929ac2",
            "name": "Switch"
        },
        {
            "parameters": {
                "language": "pythonNative",
                "pythonCode": "# Loop over input items and add a new field called 'myNewField' to the JSON of each one\nimport json\nconvert = json.loads(_items[0][\"json\"][\"body\"][\"snapshot\"])\nreturn convert"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                512,
                -608
            ],
            "id": "808f4e25-6124-46d0-8c02-8202a7f49dc5",
            "name": "Text to JSON"
        },
        {
            "parameters": {
                "language": "pythonNative",
                "pythonCode": "# Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfrom datetime import datetime, timedelta\nseven_days_ago = datetime.now() - timedelta(days=7)\ngames = []\nfor item in _items:\n  game = {}\n  time = datetime.strptime(item[\"json\"][\"effectiveDate\"], \"%Y-%m-%dT%H:%M:%S.%fZ\")\n  if time < datetime.now() and seven_days_ago < time:\n    game[\"title\"] = item[\"json\"][\"title\"]\n    game[\"effectiveDate\"] = item[\"json\"][\"effectiveDate\"]\n    \n    startDate = item[\"json\"][\"promotions\"][\"promotionalOffers\"][0][\"promotionalOffers\"][0][\"startDate\"]\n    endDate = item[\"json\"][\"promotions\"][\"promotionalOffers\"][0][\"promotionalOffers\"][0][\"endDate\"]\n    \n    dt_startDate = datetime.strptime(startDate, \"%Y-%m-%dT%H:%M:%S.%fZ\")\n    dt_endDate = datetime.strptime(endDate, \"%Y-%m-%dT%H:%M:%S.%fZ\")\n    game[\"startDate\"] = dt_startDate.strftime(\"%B %d at %H:%M:%S\")\n    game[\"endDate\"] = dt_endDate.strftime(\"%B %d at %H:%M:%S\")\n    \n    game[\"image\"] = item[\"json\"][\"keyImages\"][1][\"url\"]\n    games.append(game)\nreturn games"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                784,
                -608
            ],
            "id": "bfd3caed-1193-4415-8c15-8d322522e253",
            "name": "Get Free Games"
        },
        {
            "parameters": {
                "batchSize": "=1",
                "options": {
                    "reset": false
                }
            },
            "type": "n8n-nodes-base.splitInBatches",
            "typeVersion": 3,
            "position": [
                1040,
                -608
            ],
            "id": "5d085f6a-9df8-42bf-97f4-796e9280b4fb",
            "name": "Loop Over Items",
            "executeOnce": false,
            "retryOnFail": false,
            "onError": "continueRegularOutput"
        },
        {
            "parameters": {
                "url": "={{ $json.image }}",
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1344,
                -576
            ],
            "id": "e4dd9677-6867-496e-b5be-7879a4b36288",
            "name": "HTTP Request"
        },
        {
            "parameters": {
                "resource": "message",
                "guildId": {
                    "__rl": true,
                    "value": "702577437850206298",
                    "mode": "list",
                    "cachedResultName": "TiSnake",
                    "cachedResultUrl": "https://discord.com/channels/702577437850206298"
                },
                "channelId": {
                    "__rl": true,
                    "value": "711584353703952435",
                    "mode": "list",
                    "cachedResultName": "wadabot",
                    "cachedResultUrl": "https://discord.com/channels/702577437850206298/711584353703952435"
                },
                "content": "=EpicGames FreeGames - From {{ $json.startDate }} to {{ $json.endDate }}\n\n**{{ $json.title }}**\n",
                "options": {},
                "files": {
                    "values": [
                        {}
                    ]
                }
            },
            "type": "n8n-nodes-base.discord",
            "typeVersion": 2,
            "position": [
                1584,
                -576
            ],
            "id": "0efafb46-16bd-4338-889e-f5bc42ac4662",
            "name": "TiSnake",
            "webhookId": "9976e035-5cf3-46c6-952b-42466e0ba250",
            "credentials": {
                "discordBotApi": {
                    "id": "xd5GBOjpfOLDyBSR",
                    "name": "Discord Bot account"
                }
            }
        },
        {
            "parameters": {
                "content": "## EpicGames - FreeGames\n",
                "height": 400,
                "width": 1380,
                "color": 6
            },
            "type": "n8n-nodes-base.stickyNote",
            "typeVersion": 1,
            "position": [
                432,
                -768
            ],
            "id": "2a4596fa-c936-4571-a74b-b24fc21b50c5",
            "name": "Sticky Note"
        },
        {
            "parameters": {
                "resource": "message",
                "guildId": {
                    "__rl": true,
                    "value": "361960679042973697",
                    "mode": "list",
                    "cachedResultName": "Wada Corp",
                    "cachedResultUrl": "https://discord.com/channels/361960679042973697"
                },
                "channelId": {
                    "__rl": true,
                    "value": "487662936744132628",
                    "mode": "list",
                    "cachedResultName": "👌_bonplan",
                    "cachedResultUrl": "https://discord.com/channels/361960679042973697/487662936744132628"
                },
                "content": "=EpicGames FreeGames - From {{ $json.startDate }} to {{ $json.endDate }}\n\n**{{ $json.title }}**\n",
                "options": {},
                "files": {
                    "values": [
                        {}
                    ]
                }
            },
            "type": "n8n-nodes-base.discord",
            "typeVersion": 2,
            "position": [
                1584,
                -736
            ],
            "id": "7a4a8e84-2698-4aaa-98b7-8746d5138fd5",
            "name": "WadaCorp",
            "webhookId": "9976e035-5cf3-46c6-952b-42466e0ba250",
            "credentials": {
                "discordBotApi": {
                    "id": "xd5GBOjpfOLDyBSR",
                    "name": "Discord Bot account"
                }
            }
        },
        {
            "parameters": {},
            "type": "n8n-nodes-base.manualTrigger",
            "typeVersion": 1,
            "position": [
                -160,
                64
            ],
            "id": "3ada0ba4-a7cb-4214-93dd-323a482b129f",
            "name": "When clicking ‘Execute workflow’"
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict",
                        "version": 2
                    },
                    "conditions": [
                        {
                            "id": "57e84377-4471-478a-94f7-cf270e2d5ec7",
                            "leftValue": "={{  $('Get Games Saved').all() }}",
                            "rightValue": "",
                            "operator": {
                                "type": "array",
                                "operation": "empty",
                                "singleValue": true
                            }
                        },
                        {
                            "id": "403006a5-8d7b-43b2-829c-9e13d37bbb7a",
                            "leftValue": "={{  $('Get Games Saved').all().filter(item => item.json.app_id === $json.app_id ) }}",
                            "rightValue": "",
                            "operator": {
                                "type": "array",
                                "operation": "empty",
                                "singleValue": true
                            }
                        }
                    ],
                    "combinator": "or"
                },
                "options": {}
            },
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.2,
            "position": [
                1312,
                192
            ],
            "id": "eedc8463-0347-4ae5-93a7-7301869695f8",
            "name": "If"
        },
        {
            "parameters": {
                "options": {}
            },
            "type": "n8n-nodes-base.splitInBatches",
            "typeVersion": 3,
            "position": [
                1040,
                160
            ],
            "id": "61c4e3b2-b96a-4262-be2c-107eca067ee1",
            "name": "Loop Over Items1"
        },
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "cronExpression",
                            "expression": "0 */6 * * *"
                        }
                    ]
                }
            },
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.2,
            "position": [
                -160,
                240
            ],
            "id": "61fa984c-2d29-45b5-b545-a964624c72e7",
            "name": "Schedule Trigger"
        },
        {
            "parameters": {
                "resource": "message",
                "guildId": {
                    "__rl": true,
                    "value": "702577437850206298",
                    "mode": "list",
                    "cachedResultName": "TiSnake",
                    "cachedResultUrl": "https://discord.com/channels/702577437850206298"
                },
                "channelId": {
                    "__rl": true,
                    "value": "711584353703952435",
                    "mode": "list",
                    "cachedResultName": "wadabot",
                    "cachedResultUrl": "https://discord.com/channels/702577437850206298/711584353703952435"
                },
                "content": "=SteamGames FreeGames - {{ $json.current_price }}\n\n**{{ $json.title }}**\n\nhttps://steamdb.info/app/{{ $json.app_id }}/\n\n{{ $json.store_url }}\n",
                "options": {}
            },
            "type": "n8n-nodes-base.discord",
            "typeVersion": 2,
            "position": [
                1840,
                48
            ],
            "id": "f6a6eb22-e664-4b4b-b03f-e077d4045ac9",
            "name": "TiSnake1",
            "webhookId": "9976e035-5cf3-46c6-952b-42466e0ba250",
            "credentials": {
                "discordBotApi": {
                    "id": "xd5GBOjpfOLDyBSR",
                    "name": "Discord Bot account"
                }
            }
        },
        {
            "parameters": {
                "content": "## SteamGames - FreeGames\n",
                "height": 580,
                "width": 2280,
                "color": 5
            },
            "type": "n8n-nodes-base.stickyNote",
            "typeVersion": 1,
            "position": [
                -256,
                -128
            ],
            "id": "52f5a1d3-fb8a-47ec-b44e-8f482324ed05",
            "name": "Sticky Note1"
        },
        {
            "parameters": {
                "resource": "message",
                "guildId": {
                    "__rl": true,
                    "value": "361960679042973697",
                    "mode": "list",
                    "cachedResultName": "Wada Corp",
                    "cachedResultUrl": "https://discord.com/channels/361960679042973697"
                },
                "channelId": {
                    "__rl": true,
                    "value": "487662936744132628",
                    "mode": "list",
                    "cachedResultName": "👌_bonplan",
                    "cachedResultUrl": "https://discord.com/channels/361960679042973697/487662936744132628"
                },
                "content": "=SteamGames FreeGames - {{ $json.current_price }}\n\n**{{ $json.title }}**\n\nhttps://steamdb.info/app/{{ $json.app_id }}/\n\n{{ $json.store_url }}\n",
                "options": {}
            },
            "type": "n8n-nodes-base.discord",
            "typeVersion": 2,
            "position": [
                1840,
                -128
            ],
            "id": "66073280-fd18-478e-a8e9-d115b178c250",
            "name": "WadaCorp1",
            "webhookId": "9976e035-5cf3-46c6-952b-42466e0ba250",
            "credentials": {
                "discordBotApi": {
                    "id": "xd5GBOjpfOLDyBSR",
                    "name": "Discord Bot account"
                }
            }
        },
        {
            "parameters": {
                "url": "https://store.steampowered.com/search/?maxprice=free&category1=998&specials=1&hidef2p=1&ndl=1",
                "options": {
                    "response": {
                        "response": {
                            "responseFormat": "text"
                        }
                    }
                }
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                80,
                160
            ],
            "id": "9acd8a11-2390-49e3-bdd7-21ca6fe79df4",
            "name": "Steam FreeGames"
        },
        {
            "parameters": {
                "textsWithManipulations": {
                    "textsWithManipulationsValues": [
                        {
                            "dataSources": {
                                "dataSource": [
                                    {
                                        "text": "={{ $json.data }}",
                                        "writeOperation": "toFile",
                                        "mimeType": "text/html"
                                    }
                                ]
                            },
                            "manipulations": {
                                "manipulation": [
                                    {
                                        "action": "replace",
                                        "replaceMode": "regex",
                                        "regex": "/\\n/g"
                                    }
                                ]
                            }
                        }
                    ]
                }
            },
            "type": "n8n-nodes-text-manipulation.textManipulation",
            "typeVersion": 1,
            "position": [
                272,
                160
            ],
            "id": "b5dac6c2-fcfe-4fda-85ff-fc811a21a8ac",
            "name": "Generate HTML File"
        },
        {
            "parameters": {
                "operation": "extractHtmlContent",
                "sourceData": "binary",
                "extractionValues": {
                    "values": [
                        {
                            "key": "search_result",
                            "cssSelector": "#search_result_container"
                        }
                    ]
                },
                "options": {
                    "trimValues": true,
                    "cleanUpText": false
                }
            },
            "type": "n8n-nodes-base.html",
            "typeVersion": 1.2,
            "position": [
                448,
                160
            ],
            "id": "2c0ef3b0-a0d5-42d5-b0e5-77775d63c52a",
            "name": "Get Search Result"
        },
        {
            "parameters": {
                "authentication": "nocoDbApiToken",
                "operation": "getAll",
                "projectId": "p1zsm9ckegtx6k6",
                "table": "mourgo27chrw6cp",
                "returnAll": true,
                "options": {}
            },
            "type": "n8n-nodes-base.nocoDb",
            "typeVersion": 3,
            "position": [
                752,
                64
            ],
            "id": "8a96ae9f-3966-4b99-8a0c-838c163928ad",
            "name": "Get Games Saved",
            "credentials": {
                "nocoDbApiToken": {
                    "id": "2FSJIjcnclw7k16X",
                    "name": "NocoDB Token account"
                }
            },
            "onError": "continueRegularOutput"
        },
        {
            "parameters": {
                "language": "pythonNative",
                "pythonCode": "# Loop over input items and add a new field called 'myNewField' to the JSON of each one\nimport re\nimport json\nfrom typing import List, Dict, Optional\n\ndef parse_steam_games(text: str) -> List[Dict]:\n    \"\"\"\n    Parse Steam games data from raw text format\n    \"\"\"\n    # Regex pour séparer les éléments (lookahead positif)\n    separator_pattern = r'(?=\\[https://shared\\.(?:cloudflare|akamai)\\.steamstatic\\.com/store_item_assets/steam/apps/)'\n    \n    # Séparer les éléments\n    elements = re.split(separator_pattern, text)\n    elements = [elem.strip() for elem in elements if elem.strip()]\n    \n    games = []\n    \n    for element in elements:\n        game_data = parse_single_game(element)\n        if game_data:\n            games.append(game_data)\n    \n    return games\n\ndef parse_single_game(element: str) -> Optional[Dict]:\n    \"\"\"\n    Parse a single game element\n    \"\"\"\n    lines = [line.strip() for line in element.split('\\n') if line.strip()]\n    \n    if len(lines) < 4:\n        return None\n    \n    try:\n        game = {}\n        \n        # Extract image URL et app ID\n        image_url_match = re.search(r'\\[https://shared\\.(?:cloudflare|akamai)\\.steamstatic\\.com/store_item_assets/steam/apps/(\\d+)/([^\\]]+)\\]', lines[0])\n        if image_url_match:\n            game['app_id'] = int(image_url_match.group(1))\n            game['image_url'] = lines[0].strip('[]')\n        \n        # Title (ligne après l'URL de l'image)\n        game['title'] = lines[1] if len(lines) > 1 else \"\"\n        \n        # Date (ligne après le titre)\n        game['date'] = lines[2] if len(lines) > 2 else \"\"\n        \n        # Parse discount, prices, and store URL\n        prices = []\n        discount = None\n        store_url = None\n        \n        for line in lines[3:]:\n            # Discount percentage\n            if re.match(r'-?\\d+%', line):\n                discount = line\n            # Price (format XX,XX€)\n            elif re.match(r'\\d+,\\d+€', line):\n                prices.append(line)\n            # Store URL\n            elif 'store.steampowered.com' in line:\n                store_url = line.strip('[]')\n        \n        game['discount'] = discount\n        game['original_price'] = prices[0] if len(prices) > 1 else None\n        game['current_price'] = prices[-1] if prices else None\n        game['store_url'] = store_url\n        \n        # Calculer si c'est gratuit\n        game['is_free'] = game['current_price'] == '0,00€'\n        \n        return game\n        \n    except Exception as e:\n        print(f\"Erreur lors du parsing: {e}\")\n        return None\n\n\ngames = parse_steam_games(_('Get Search Result')[0][\"json\"][\"search_result\"])\n\nreturn games"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                752,
                432
            ],
            "id": "e5836b5d-c65a-44e3-809b-18da60e1f358",
            "name": "Load JSON"
        },
        {
            "parameters": {
                "authentication": "nocoDbApiToken",
                "operation": "update",
                "projectId": "p1zsm9ckegtx6k6",
                "table": "mourgo27chrw6cp",
                "dataToSend": "autoMapInputData"
            },
            "type": "n8n-nodes-base.nocoDb",
            "typeVersion": 3,
            "position": [
                1600,
                240
            ],
            "id": "fc6a8f66-9bba-4954-9559-0461db79343e",
            "name": "Update Game",
            "credentials": {
                "nocoDbApiToken": {
                    "id": "2FSJIjcnclw7k16X",
                    "name": "NocoDB Token account"
                }
            }
        },
        {
            "parameters": {
                "authentication": "nocoDbApiToken",
                "operation": "create",
                "projectId": "p1zsm9ckegtx6k6",
                "table": "mourgo27chrw6cp",
                "dataToSend": "autoMapInputData"
            },
            "type": "n8n-nodes-base.nocoDb",
            "typeVersion": 3,
            "position": [
                1600,
                -48
            ],
            "id": "ec4a0480-a705-4eff-b0c4-e71b24751edf",
            "name": "Add Game",
            "credentials": {
                "nocoDbApiToken": {
                    "id": "2FSJIjcnclw7k16X",
                    "name": "NocoDB Token account"
                }
            }
        },
        {
            "parameters": {
                "language": "pythonNative",
                "pythonCode": "# Loop over input items and add a new field called 'my_new_field' to the JSON of each one\nfor item in _items:\n  item[\"json\"][\"text\"] = item[\"json\"].get(\"body\", {}).get(\"diff\", None)\nreturn _items"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                960,
                -176
            ],
            "id": "2c11ecbb-8416-4718-a48f-ee6658cc8d43",
            "name": "Code in Python (Native)"
        },
        {
            "parameters": {
                "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\n\nfunction parseSteamGames(text) {\n  // Regex pour séparer les éléments (lookahead positif)\n  const separatorPattern = /(?=\\[https:\\/\\/shared\\.(?:cloudflare|akamai)\\.steamstatic\\.com\\/store_item_assets\\/steam\\/apps\\/)/g;\n\n  // Séparer les éléments\n  const elements = text\n    .split(separatorPattern)\n    .map(e => e.trim())\n    .filter(e => e);\n\n  const games = [];\n\n  for (const element of elements) {\n    const gameData = parseSingleGame(element);\n    if (gameData) {\n      games.push(gameData);\n    }\n  }\n\n  return games;\n}\n\nfunction parseSingleGame(element) {\n  const lines = element\n    .split('\\n')\n    .map(line => line.trim())\n    .filter(line => line);\n\n  if (lines.length < 4) {\n    return null;\n  }\n\n  try {\n    const game = {};\n\n    // Extract image URL et app ID\n    const imageUrlMatch = lines[0].match(\n      /\\[https:\\/\\/shared\\.(?:cloudflare|akamai)\\.steamstatic\\.com\\/store_item_assets\\/steam\\/apps\\/(\\d+)\\/([^\\]]+)\\]/\n    );\n    if (imageUrlMatch) {\n      game.app_id = Number(imageUrlMatch[1]);\n      game.image_url = lines[0].replace(/^\\[|\\]$/g, '');\n    }\n\n    // Title (ligne après l'URL de l'image)\n    game.title = lines[1] || \"\";\n\n    // Date (ligne après le titre)\n    game.date = lines[2] || \"\";\n\n    // Parse discount, prices, and store URL\n    const prices = [];\n    let discount = null;\n    let store_url = null;\n\n    for (const line of lines.slice(3)) {\n      if (/^-?\\d+%$/.test(line)) {\n        // Discount percentage\n        discount = line;\n      } else if (/^\\d+,\\d+€$/.test(line)) {\n        // Price (format XX,XX€)\n        prices.push(line);\n      } else if (line.includes('store.steampowered.com')) {\n        // Store URL\n        store_url = line.replace(/^\\[|\\]$/g, '');\n      }\n    }\n\n    game.discount = discount;\n    game.original_price = prices.length > 1 ? prices[0] : null;\n    game.current_price = prices.length ? prices[prices.length - 1] : null;\n    game.store_url = store_url;\n\n    // Calculer si c'est gratuit\n    game.is_free = game.current_price === '0,00€';\n\n    return game;\n  } catch (e) {\n    console.error('Erreur lors du parsing:', e);\n    return null;\n  }\n}\n\n// Récupération de search_result depuis le node \"Get Search Result\"\nconst text = $('Get Search Result').first().json.search_result;\n\n// Retour au format n8n : tableau d'items { json: {...} }\nconst games = parseSteamGames(text);\n\nreturn games.map(game => ({ json: game }));\n"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                752,
                272
            ],
            "id": "7fd93a25-58fb-45c8-9b83-c1fbc5b3ff44",
            "name": "Load JSON1"
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Switch",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Switch": {
            "main": [
                [
                    {
                        "node": "Text to JSON",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Telegram",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Text to JSON": {
            "main": [
                [
                    {
                        "node": "Get Free Games",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Free Games": {
            "main": [
                [
                    {
                        "node": "Loop Over Items",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Loop Over Items": {
            "main": [
                [],
                [
                    {
                        "node": "HTTP Request",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "HTTP Request": {
            "main": [
                [
                    {
                        "node": "TiSnake",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "WadaCorp",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "TiSnake": {
            "main": [
                [
                    {
                        "node": "Loop Over Items",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "When clicking ‘Execute workflow’": {
            "main": [
                [
                    {
                        "node": "Steam FreeGames",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Loop Over Items1": {
            "main": [
                [],
                [
                    {
                        "node": "If",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "If": {
            "main": [
                [
                    {
                        "node": "Add Game",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Update Game",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Schedule Trigger": {
            "main": [
                [
                    {
                        "node": "Steam FreeGames",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Steam FreeGames": {
            "main": [
                [
                    {
                        "node": "Generate HTML File",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Generate HTML File": {
            "main": [
                [
                    {
                        "node": "Get Search Result",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Search Result": {
            "main": [
                [
                    {
                        "node": "Get Games Saved",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Load JSON1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Games Saved": {
            "main": [
                []
            ]
        },
        "Load JSON": {
            "main": [
                []
            ]
        },
        "Update Game": {
            "main": [
                [
                    {
                        "node": "Loop Over Items1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Add Game": {
            "main": [
                [
                    {
                        "node": "Loop Over Items1",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "TiSnake1",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "WadaCorp1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Telegram": {
            "main": [
                []
            ]
        },
        "Code in Python (Native)": {
            "main": [
                []
            ]
        },
        "Load JSON1": {
            "main": [
                [
                    {
                        "node": "Loop Over Items1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    },
    "staticData": {
        "node:Schedule Trigger": {
            "recurrenceRules": []
        }
    },
    "meta": {
        "templateCredsSetupCompleted": true
    },
    "pinData": {},
    "versionId": "0cd0b55a-7dcd-4473-8d14-e9e187927f6b",
    "activeVersionId": "0cd0b55a-7dcd-4473-8d14-e9e187927f6b",
    "triggerCount": 2,
    "shared": [
        {
            "updatedAt": "2025-05-27T21:55:06.407Z",
            "createdAt": "2025-05-27T21:55:06.407Z",
            "role": "workflow:owner",
            "workflowId": "kx94Z2Th3dyVsVrw",
            "projectId": "lnYpJLFYV8VS8Mcd"
        }
    ],
    "activeVersion": {
        "updatedAt": "2026-01-12T01:07:49.000Z",
        "createdAt": "2026-01-12T01:07:47.246Z",
        "versionId": "0cd0b55a-7dcd-4473-8d14-e9e187927f6b",
        "workflowId": "kx94Z2Th3dyVsVrw",
        "nodes": [
            {
                "parameters": {
                    "httpMethod": "POST",
                    "path": "simple-notification",
                    "options": {}
                },
                "type": "n8n-nodes-base.webhook",
                "typeVersion": 2,
                "position": [
                    -144,
                    -304
                ],
                "id": "aa795329-6fc0-4c2e-9b37-98b722f66cdf",
                "name": "Webhook",
                "webhookId": "4f7d2d03-1665-4186-a453-a5e6567abd68"
            },
            {
                "parameters": {
                    "chatId": "1037310358",
                    "text": "={{ $json.body.diff }}",
                    "additionalFields": {
                        "appendAttribution": false
                    }
                },
                "type": "n8n-nodes-base.telegram",
                "typeVersion": 1.2,
                "position": [
                    1744,
                    -288
                ],
                "id": "3e894bfb-62bb-4f57-9cab-26716d9289b1",
                "name": "Telegram",
                "webhookId": "e8f8b499-5646-41c2-9408-1ed9b4ae64fd",
                "credentials": {
                    "telegramApi": {
                        "id": "rUrqlq4srZZdKyG1",
                        "name": "SimpleNotification"
                    }
                }
            },
            {
                "parameters": {
                    "rules": {
                        "values": [
                            {
                                "conditions": {
                                    "options": {
                                        "caseSensitive": true,
                                        "leftValue": "",
                                        "typeValidation": "loose",
                                        "version": 2
                                    },
                                    "conditions": [
                                        {
                                            "leftValue": "={{ $json.body.snapshot }}",
                                            "rightValue": "epic",
                                            "operator": {
                                                "type": "string",
                                                "operation": "contains"
                                            },
                                            "id": "9f41d976-dd20-4210-8652-991b7412b7fc"
                                        }
                                    ],
                                    "combinator": "and"
                                }
                            }
                        ]
                    },
                    "looseTypeValidation": true,
                    "options": {
                        "fallbackOutput": "extra"
                    }
                },
                "type": "n8n-nodes-base.switch",
                "typeVersion": 3.2,
                "position": [
                    144,
                    -304
                ],
                "id": "07dacf5a-9e19-4891-9142-311e88929ac2",
                "name": "Switch"
            },
            {
                "parameters": {
                    "language": "pythonNative",
                    "pythonCode": "# Loop over input items and add a new field called 'myNewField' to the JSON of each one\nimport json\nconvert = json.loads(_items[0][\"json\"][\"body\"][\"snapshot\"])\nreturn convert"
                },
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    512,
                    -608
                ],
                "id": "808f4e25-6124-46d0-8c02-8202a7f49dc5",
                "name": "Text to JSON"
            },
            {
                "parameters": {
                    "language": "pythonNative",
                    "pythonCode": "# Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfrom datetime import datetime, timedelta\nseven_days_ago = datetime.now() - timedelta(days=7)\ngames = []\nfor item in _items:\n  game = {}\n  time = datetime.strptime(item[\"json\"][\"effectiveDate\"], \"%Y-%m-%dT%H:%M:%S.%fZ\")\n  if time < datetime.now() and seven_days_ago < time:\n    game[\"title\"] = item[\"json\"][\"title\"]\n    game[\"effectiveDate\"] = item[\"json\"][\"effectiveDate\"]\n    \n    startDate = item[\"json\"][\"promotions\"][\"promotionalOffers\"][0][\"promotionalOffers\"][0][\"startDate\"]\n    endDate = item[\"json\"][\"promotions\"][\"promotionalOffers\"][0][\"promotionalOffers\"][0][\"endDate\"]\n    \n    dt_startDate = datetime.strptime(startDate, \"%Y-%m-%dT%H:%M:%S.%fZ\")\n    dt_endDate = datetime.strptime(endDate, \"%Y-%m-%dT%H:%M:%S.%fZ\")\n    game[\"startDate\"] = dt_startDate.strftime(\"%B %d at %H:%M:%S\")\n    game[\"endDate\"] = dt_endDate.strftime(\"%B %d at %H:%M:%S\")\n    \n    game[\"image\"] = item[\"json\"][\"keyImages\"][1][\"url\"]\n    games.append(game)\nreturn games"
                },
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    784,
                    -608
                ],
                "id": "bfd3caed-1193-4415-8c15-8d322522e253",
                "name": "Get Free Games"
            },
            {
                "parameters": {
                    "batchSize": "=1",
                    "options": {
                        "reset": false
                    }
                },
                "type": "n8n-nodes-base.splitInBatches",
                "typeVersion": 3,
                "position": [
                    1040,
                    -608
                ],
                "id": "5d085f6a-9df8-42bf-97f4-796e9280b4fb",
                "name": "Loop Over Items",
                "executeOnce": false,
                "retryOnFail": false,
                "onError": "continueRegularOutput"
            },
            {
                "parameters": {
                    "url": "={{ $json.image }}",
                    "options": {}
                },
                "type": "n8n-nodes-base.httpRequest",
                "typeVersion": 4.2,
                "position": [
                    1344,
                    -576
                ],
                "id": "e4dd9677-6867-496e-b5be-7879a4b36288",
                "name": "HTTP Request"
            },
            {
                "parameters": {
                    "resource": "message",
                    "guildId": {
                        "__rl": true,
                        "value": "702577437850206298",
                        "mode": "list",
                        "cachedResultName": "TiSnake",
                        "cachedResultUrl": "https://discord.com/channels/702577437850206298"
                    },
                    "channelId": {
                        "__rl": true,
                        "value": "711584353703952435",
                        "mode": "list",
                        "cachedResultName": "wadabot",
                        "cachedResultUrl": "https://discord.com/channels/702577437850206298/711584353703952435"
                    },
                    "content": "=EpicGames FreeGames - From {{ $json.startDate }} to {{ $json.endDate }}\n\n**{{ $json.title }}**\n",
                    "options": {},
                    "files": {
                        "values": [
                            {}
                        ]
                    }
                },
                "type": "n8n-nodes-base.discord",
                "typeVersion": 2,
                "position": [
                    1584,
                    -576
                ],
                "id": "0efafb46-16bd-4338-889e-f5bc42ac4662",
                "name": "TiSnake",
                "webhookId": "9976e035-5cf3-46c6-952b-42466e0ba250",
                "credentials": {
                    "discordBotApi": {
                        "id": "xd5GBOjpfOLDyBSR",
                        "name": "Discord Bot account"
                    }
                }
            },
            {
                "parameters": {
                    "content": "## EpicGames - FreeGames\n",
                    "height": 400,
                    "width": 1380,
                    "color": 6
                },
                "type": "n8n-nodes-base.stickyNote",
                "typeVersion": 1,
                "position": [
                    432,
                    -768
                ],
                "id": "2a4596fa-c936-4571-a74b-b24fc21b50c5",
                "name": "Sticky Note"
            },
            {
                "parameters": {
                    "resource": "message",
                    "guildId": {
                        "__rl": true,
                        "value": "361960679042973697",
                        "mode": "list",
                        "cachedResultName": "Wada Corp",
                        "cachedResultUrl": "https://discord.com/channels/361960679042973697"
                    },
                    "channelId": {
                        "__rl": true,
                        "value": "487662936744132628",
                        "mode": "list",
                        "cachedResultName": "👌_bonplan",
                        "cachedResultUrl": "https://discord.com/channels/361960679042973697/487662936744132628"
                    },
                    "content": "=EpicGames FreeGames - From {{ $json.startDate }} to {{ $json.endDate }}\n\n**{{ $json.title }}**\n",
                    "options": {},
                    "files": {
                        "values": [
                            {}
                        ]
                    }
                },
                "type": "n8n-nodes-base.discord",
                "typeVersion": 2,
                "position": [
                    1584,
                    -736
                ],
                "id": "7a4a8e84-2698-4aaa-98b7-8746d5138fd5",
                "name": "WadaCorp",
                "webhookId": "9976e035-5cf3-46c6-952b-42466e0ba250",
                "credentials": {
                    "discordBotApi": {
                        "id": "xd5GBOjpfOLDyBSR",
                        "name": "Discord Bot account"
                    }
                }
            },
            {
                "parameters": {},
                "type": "n8n-nodes-base.manualTrigger",
                "typeVersion": 1,
                "position": [
                    -160,
                    64
                ],
                "id": "3ada0ba4-a7cb-4214-93dd-323a482b129f",
                "name": "When clicking ‘Execute workflow’"
            },
            {
                "parameters": {
                    "conditions": {
                        "options": {
                            "caseSensitive": true,
                            "leftValue": "",
                            "typeValidation": "strict",
                            "version": 2
                        },
                        "conditions": [
                            {
                                "id": "57e84377-4471-478a-94f7-cf270e2d5ec7",
                                "leftValue": "={{  $('Get Games Saved').all() }}",
                                "rightValue": "",
                                "operator": {
                                    "type": "array",
                                    "operation": "empty",
                                    "singleValue": true
                                }
                            },
                            {
                                "id": "403006a5-8d7b-43b2-829c-9e13d37bbb7a",
                                "leftValue": "={{  $('Get Games Saved').all().filter(item => item.json.app_id === $json.app_id ) }}",
                                "rightValue": "",
                                "operator": {
                                    "type": "array",
                                    "operation": "empty",
                                    "singleValue": true
                                }
                            }
                        ],
                        "combinator": "or"
                    },
                    "options": {}
                },
                "type": "n8n-nodes-base.if",
                "typeVersion": 2.2,
                "position": [
                    1312,
                    192
                ],
                "id": "eedc8463-0347-4ae5-93a7-7301869695f8",
                "name": "If"
            },
            {
                "parameters": {
                    "options": {}
                },
                "type": "n8n-nodes-base.splitInBatches",
                "typeVersion": 3,
                "position": [
                    1040,
                    160
                ],
                "id": "61c4e3b2-b96a-4262-be2c-107eca067ee1",
                "name": "Loop Over Items1"
            },
            {
                "parameters": {
                    "rule": {
                        "interval": [
                            {
                                "field": "cronExpression",
                                "expression": "0 */6 * * *"
                            }
                        ]
                    }
                },
                "type": "n8n-nodes-base.scheduleTrigger",
                "typeVersion": 1.2,
                "position": [
                    -160,
                    240
                ],
                "id": "61fa984c-2d29-45b5-b545-a964624c72e7",
                "name": "Schedule Trigger"
            },
            {
                "parameters": {
                    "resource": "message",
                    "guildId": {
                        "__rl": true,
                        "value": "702577437850206298",
                        "mode": "list",
                        "cachedResultName": "TiSnake",
                        "cachedResultUrl": "https://discord.com/channels/702577437850206298"
                    },
                    "channelId": {
                        "__rl": true,
                        "value": "711584353703952435",
                        "mode": "list",
                        "cachedResultName": "wadabot",
                        "cachedResultUrl": "https://discord.com/channels/702577437850206298/711584353703952435"
                    },
                    "content": "=SteamGames FreeGames - {{ $json.current_price }}\n\n**{{ $json.title }}**\n\nhttps://steamdb.info/app/{{ $json.app_id }}/\n\n{{ $json.store_url }}\n",
                    "options": {}
                },
                "type": "n8n-nodes-base.discord",
                "typeVersion": 2,
                "position": [
                    1840,
                    48
                ],
                "id": "f6a6eb22-e664-4b4b-b03f-e077d4045ac9",
                "name": "TiSnake1",
                "webhookId": "9976e035-5cf3-46c6-952b-42466e0ba250",
                "credentials": {
                    "discordBotApi": {
                        "id": "xd5GBOjpfOLDyBSR",
                        "name": "Discord Bot account"
                    }
                }
            },
            {
                "parameters": {
                    "content": "## SteamGames - FreeGames\n",
                    "height": 580,
                    "width": 2280,
                    "color": 5
                },
                "type": "n8n-nodes-base.stickyNote",
                "typeVersion": 1,
                "position": [
                    -256,
                    -128
                ],
                "id": "52f5a1d3-fb8a-47ec-b44e-8f482324ed05",
                "name": "Sticky Note1"
            },
            {
                "parameters": {
                    "resource": "message",
                    "guildId": {
                        "__rl": true,
                        "value": "361960679042973697",
                        "mode": "list",
                        "cachedResultName": "Wada Corp",
                        "cachedResultUrl": "https://discord.com/channels/361960679042973697"
                    },
                    "channelId": {
                        "__rl": true,
                        "value": "487662936744132628",
                        "mode": "list",
                        "cachedResultName": "👌_bonplan",
                        "cachedResultUrl": "https://discord.com/channels/361960679042973697/487662936744132628"
                    },
                    "content": "=SteamGames FreeGames - {{ $json.current_price }}\n\n**{{ $json.title }}**\n\nhttps://steamdb.info/app/{{ $json.app_id }}/\n\n{{ $json.store_url }}\n",
                    "options": {}
                },
                "type": "n8n-nodes-base.discord",
                "typeVersion": 2,
                "position": [
                    1840,
                    -128
                ],
                "id": "66073280-fd18-478e-a8e9-d115b178c250",
                "name": "WadaCorp1",
                "webhookId": "9976e035-5cf3-46c6-952b-42466e0ba250",
                "credentials": {
                    "discordBotApi": {
                        "id": "xd5GBOjpfOLDyBSR",
                        "name": "Discord Bot account"
                    }
                }
            },
            {
                "parameters": {
                    "url": "https://store.steampowered.com/search/?maxprice=free&category1=998&specials=1&hidef2p=1&ndl=1",
                    "options": {
                        "response": {
                            "response": {
                                "responseFormat": "text"
                            }
                        }
                    }
                },
                "type": "n8n-nodes-base.httpRequest",
                "typeVersion": 4.2,
                "position": [
                    80,
                    160
                ],
                "id": "9acd8a11-2390-49e3-bdd7-21ca6fe79df4",
                "name": "Steam FreeGames"
            },
            {
                "parameters": {
                    "textsWithManipulations": {
                        "textsWithManipulationsValues": [
                            {
                                "dataSources": {
                                    "dataSource": [
                                        {
                                            "text": "={{ $json.data }}",
                                            "writeOperation": "toFile",
                                            "mimeType": "text/html"
                                        }
                                    ]
                                },
                                "manipulations": {
                                    "manipulation": [
                                        {
                                            "action": "replace",
                                            "replaceMode": "regex",
                                            "regex": "/\\n/g"
                                        }
                                    ]
                                }
                            }
                        ]
                    }
                },
                "type": "n8n-nodes-text-manipulation.textManipulation",
                "typeVersion": 1,
                "position": [
                    272,
                    160
                ],
                "id": "b5dac6c2-fcfe-4fda-85ff-fc811a21a8ac",
                "name": "Generate HTML File"
            },
            {
                "parameters": {
                    "operation": "extractHtmlContent",
                    "sourceData": "binary",
                    "extractionValues": {
                        "values": [
                            {
                                "key": "search_result",
                                "cssSelector": "#search_result_container"
                            }
                        ]
                    },
                    "options": {
                        "trimValues": true,
                        "cleanUpText": false
                    }
                },
                "type": "n8n-nodes-base.html",
                "typeVersion": 1.2,
                "position": [
                    448,
                    160
                ],
                "id": "2c0ef3b0-a0d5-42d5-b0e5-77775d63c52a",
                "name": "Get Search Result"
            },
            {
                "parameters": {
                    "authentication": "nocoDbApiToken",
                    "operation": "getAll",
                    "projectId": "p1zsm9ckegtx6k6",
                    "table": "mourgo27chrw6cp",
                    "returnAll": true,
                    "options": {}
                },
                "type": "n8n-nodes-base.nocoDb",
                "typeVersion": 3,
                "position": [
                    752,
                    64
                ],
                "id": "8a96ae9f-3966-4b99-8a0c-838c163928ad",
                "name": "Get Games Saved",
                "credentials": {
                    "nocoDbApiToken": {
                        "id": "2FSJIjcnclw7k16X",
                        "name": "NocoDB Token account"
                    }
                },
                "onError": "continueRegularOutput"
            },
            {
                "parameters": {
                    "language": "pythonNative",
                    "pythonCode": "# Loop over input items and add a new field called 'myNewField' to the JSON of each one\nimport re\nimport json\nfrom typing import List, Dict, Optional\n\ndef parse_steam_games(text: str) -> List[Dict]:\n    \"\"\"\n    Parse Steam games data from raw text format\n    \"\"\"\n    # Regex pour séparer les éléments (lookahead positif)\n    separator_pattern = r'(?=\\[https://shared\\.(?:cloudflare|akamai)\\.steamstatic\\.com/store_item_assets/steam/apps/)'\n    \n    # Séparer les éléments\n    elements = re.split(separator_pattern, text)\n    elements = [elem.strip() for elem in elements if elem.strip()]\n    \n    games = []\n    \n    for element in elements:\n        game_data = parse_single_game(element)\n        if game_data:\n            games.append(game_data)\n    \n    return games\n\ndef parse_single_game(element: str) -> Optional[Dict]:\n    \"\"\"\n    Parse a single game element\n    \"\"\"\n    lines = [line.strip() for line in element.split('\\n') if line.strip()]\n    \n    if len(lines) < 4:\n        return None\n    \n    try:\n        game = {}\n        \n        # Extract image URL et app ID\n        image_url_match = re.search(r'\\[https://shared\\.(?:cloudflare|akamai)\\.steamstatic\\.com/store_item_assets/steam/apps/(\\d+)/([^\\]]+)\\]', lines[0])\n        if image_url_match:\n            game['app_id'] = int(image_url_match.group(1))\n            game['image_url'] = lines[0].strip('[]')\n        \n        # Title (ligne après l'URL de l'image)\n        game['title'] = lines[1] if len(lines) > 1 else \"\"\n        \n        # Date (ligne après le titre)\n        game['date'] = lines[2] if len(lines) > 2 else \"\"\n        \n        # Parse discount, prices, and store URL\n        prices = []\n        discount = None\n        store_url = None\n        \n        for line in lines[3:]:\n            # Discount percentage\n            if re.match(r'-?\\d+%', line):\n                discount = line\n            # Price (format XX,XX€)\n            elif re.match(r'\\d+,\\d+€', line):\n                prices.append(line)\n            # Store URL\n            elif 'store.steampowered.com' in line:\n                store_url = line.strip('[]')\n        \n        game['discount'] = discount\n        game['original_price'] = prices[0] if len(prices) > 1 else None\n        game['current_price'] = prices[-1] if prices else None\n        game['store_url'] = store_url\n        \n        # Calculer si c'est gratuit\n        game['is_free'] = game['current_price'] == '0,00€'\n        \n        return game\n        \n    except Exception as e:\n        print(f\"Erreur lors du parsing: {e}\")\n        return None\n\n\ngames = parse_steam_games(_('Get Search Result')[0][\"json\"][\"search_result\"])\n\nreturn games"
                },
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    752,
                    432
                ],
                "id": "e5836b5d-c65a-44e3-809b-18da60e1f358",
                "name": "Load JSON"
            },
            {
                "parameters": {
                    "authentication": "nocoDbApiToken",
                    "operation": "update",
                    "projectId": "p1zsm9ckegtx6k6",
                    "table": "mourgo27chrw6cp",
                    "dataToSend": "autoMapInputData"
                },
                "type": "n8n-nodes-base.nocoDb",
                "typeVersion": 3,
                "position": [
                    1600,
                    240
                ],
                "id": "fc6a8f66-9bba-4954-9559-0461db79343e",
                "name": "Update Game",
                "credentials": {
                    "nocoDbApiToken": {
                        "id": "2FSJIjcnclw7k16X",
                        "name": "NocoDB Token account"
                    }
                }
            },
            {
                "parameters": {
                    "authentication": "nocoDbApiToken",
                    "operation": "create",
                    "projectId": "p1zsm9ckegtx6k6",
                    "table": "mourgo27chrw6cp",
                    "dataToSend": "autoMapInputData"
                },
                "type": "n8n-nodes-base.nocoDb",
                "typeVersion": 3,
                "position": [
                    1600,
                    -48
                ],
                "id": "ec4a0480-a705-4eff-b0c4-e71b24751edf",
                "name": "Add Game",
                "credentials": {
                    "nocoDbApiToken": {
                        "id": "2FSJIjcnclw7k16X",
                        "name": "NocoDB Token account"
                    }
                }
            },
            {
                "parameters": {
                    "language": "pythonNative",
                    "pythonCode": "# Loop over input items and add a new field called 'my_new_field' to the JSON of each one\nfor item in _items:\n  item[\"json\"][\"text\"] = item[\"json\"].get(\"body\", {}).get(\"diff\", None)\nreturn _items"
                },
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    960,
                    -176
                ],
                "id": "2c11ecbb-8416-4718-a48f-ee6658cc8d43",
                "name": "Code in Python (Native)"
            },
            {
                "parameters": {
                    "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\n\nfunction parseSteamGames(text) {\n  // Regex pour séparer les éléments (lookahead positif)\n  const separatorPattern = /(?=\\[https:\\/\\/shared\\.(?:cloudflare|akamai)\\.steamstatic\\.com\\/store_item_assets\\/steam\\/apps\\/)/g;\n\n  // Séparer les éléments\n  const elements = text\n    .split(separatorPattern)\n    .map(e => e.trim())\n    .filter(e => e);\n\n  const games = [];\n\n  for (const element of elements) {\n    const gameData = parseSingleGame(element);\n    if (gameData) {\n      games.push(gameData);\n    }\n  }\n\n  return games;\n}\n\nfunction parseSingleGame(element) {\n  const lines = element\n    .split('\\n')\n    .map(line => line.trim())\n    .filter(line => line);\n\n  if (lines.length < 4) {\n    return null;\n  }\n\n  try {\n    const game = {};\n\n    // Extract image URL et app ID\n    const imageUrlMatch = lines[0].match(\n      /\\[https:\\/\\/shared\\.(?:cloudflare|akamai)\\.steamstatic\\.com\\/store_item_assets\\/steam\\/apps\\/(\\d+)\\/([^\\]]+)\\]/\n    );\n    if (imageUrlMatch) {\n      game.app_id = Number(imageUrlMatch[1]);\n      game.image_url = lines[0].replace(/^\\[|\\]$/g, '');\n    }\n\n    // Title (ligne après l'URL de l'image)\n    game.title = lines[1] || \"\";\n\n    // Date (ligne après le titre)\n    game.date = lines[2] || \"\";\n\n    // Parse discount, prices, and store URL\n    const prices = [];\n    let discount = null;\n    let store_url = null;\n\n    for (const line of lines.slice(3)) {\n      if (/^-?\\d+%$/.test(line)) {\n        // Discount percentage\n        discount = line;\n      } else if (/^\\d+,\\d+€$/.test(line)) {\n        // Price (format XX,XX€)\n        prices.push(line);\n      } else if (line.includes('store.steampowered.com')) {\n        // Store URL\n        store_url = line.replace(/^\\[|\\]$/g, '');\n      }\n    }\n\n    game.discount = discount;\n    game.original_price = prices.length > 1 ? prices[0] : null;\n    game.current_price = prices.length ? prices[prices.length - 1] : null;\n    game.store_url = store_url;\n\n    // Calculer si c'est gratuit\n    game.is_free = game.current_price === '0,00€';\n\n    return game;\n  } catch (e) {\n    console.error('Erreur lors du parsing:', e);\n    return null;\n  }\n}\n\n// Récupération de search_result depuis le node \"Get Search Result\"\nconst text = $('Get Search Result').first().json.search_result;\n\n// Retour au format n8n : tableau d'items { json: {...} }\nconst games = parseSteamGames(text);\n\nreturn games.map(game => ({ json: game }));\n"
                },
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    752,
                    272
                ],
                "id": "7fd93a25-58fb-45c8-9b83-c1fbc5b3ff44",
                "name": "Load JSON1"
            }
        ],
        "connections": {
            "Webhook": {
                "main": [
                    [
                        {
                            "node": "Switch",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Switch": {
                "main": [
                    [
                        {
                            "node": "Text to JSON",
                            "type": "main",
                            "index": 0
                        }
                    ],
                    [
                        {
                            "node": "Telegram",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Text to JSON": {
                "main": [
                    [
                        {
                            "node": "Get Free Games",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Get Free Games": {
                "main": [
                    [
                        {
                            "node": "Loop Over Items",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Loop Over Items": {
                "main": [
                    [],
                    [
                        {
                            "node": "HTTP Request",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "HTTP Request": {
                "main": [
                    [
                        {
                            "node": "TiSnake",
                            "type": "main",
                            "index": 0
                        },
                        {
                            "node": "WadaCorp",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "TiSnake": {
                "main": [
                    [
                        {
                            "node": "Loop Over Items",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "When clicking ‘Execute workflow’": {
                "main": [
                    [
                        {
                            "node": "Steam FreeGames",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Loop Over Items1": {
                "main": [
                    [],
                    [
                        {
                            "node": "If",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "If": {
                "main": [
                    [
                        {
                            "node": "Add Game",
                            "type": "main",
                            "index": 0
                        }
                    ],
                    [
                        {
                            "node": "Update Game",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Schedule Trigger": {
                "main": [
                    [
                        {
                            "node": "Steam FreeGames",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Steam FreeGames": {
                "main": [
                    [
                        {
                            "node": "Generate HTML File",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Generate HTML File": {
                "main": [
                    [
                        {
                            "node": "Get Search Result",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Get Search Result": {
                "main": [
                    [
                        {
                            "node": "Get Games Saved",
                            "type": "main",
                            "index": 0
                        },
                        {
                            "node": "Load JSON1",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Get Games Saved": {
                "main": [
                    []
                ]
            },
            "Load JSON": {
                "main": [
                    []
                ]
            },
            "Update Game": {
                "main": [
                    [
                        {
                            "node": "Loop Over Items1",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Add Game": {
                "main": [
                    [
                        {
                            "node": "Loop Over Items1",
                            "type": "main",
                            "index": 0
                        },
                        {
                            "node": "TiSnake1",
                            "type": "main",
                            "index": 0
                        },
                        {
                            "node": "WadaCorp1",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Telegram": {
                "main": [
                    []
                ]
            },
            "Code in Python (Native)": {
                "main": [
                    []
                ]
            },
            "Load JSON1": {
                "main": [
                    [
                        {
                            "node": "Loop Over Items1",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            }
        },
        "authors": "Snake Tech",
        "name": "Version 0cd0b55a",
        "description": "",
        "autosaved": false
    },
    "tags": [
        {
            "updatedAt": "2025-05-27T23:11:08.154Z",
            "createdAt": "2025-05-27T23:11:08.154Z",
            "id": "RbrMFPQcaXrwH6iv",
            "name": "notification"
        }
    ]
}