workflows/Quiz - Génération embeddings questions.json
{
    "updatedAt": "2026-04-28T07:29:37.490Z",
    "createdAt": "2026-03-29T22:47:47.215Z",
    "id": "aOAxm6ZNoDHDxzSv",
    "name": "Quiz - Génération embeddings questions",
    "active": false,
    "isArchived": false,
    "nodes": [
        {
            "parameters": {},
            "type": "n8n-nodes-base.manualTrigger",
            "typeVersion": 1,
            "position": [
                960,
                304
            ],
            "id": "b28b015a-a5b4-45c1-b2e7-103d402c1def",
            "name": "When clicking ‘Execute workflow’"
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "SELECT q.id, q.question\nFROM public.questions q\nLEFT JOIN public.questions_embeddings qe ON qe.question_id = q.id\nWHERE qe.id IS NULL;",
                "options": {}
            },
            "id": "ba40010d-ce85-403c-a08a-7b1618b349f8",
            "name": "Questions sans embedding",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.5,
            "position": [
                1168,
                304
            ],
            "credentials": {
                "postgres": {
                    "id": "PdQplJt0kraauzJT",
                    "name": "Postgres Supabase account"
                }
            }
        },
        {
            "parameters": {
                "options": {}
            },
            "id": "b41c834e-c40e-4089-9621-00cc189b432a",
            "name": "Boucler sur chaque question",
            "type": "n8n-nodes-base.splitInBatches",
            "typeVersion": 3,
            "position": [
                1392,
                304
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.openai.com/v1/embeddings",
                "authentication": "predefinedCredentialType",
                "nodeCredentialType": "openAiApi",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"model\": \"text-embedding-3-small\",\n  \"input\": {{ JSON.stringify($json.question) }},\n  \"dimensions\": 512\n}",
                "options": {}
            },
            "id": "b0bddd6e-ca13-4acd-b76c-17aa407c54b0",
            "name": "Générer embedding (OpenAI)",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1616,
                304
            ],
            "credentials": {
                "openAiApi": {
                    "id": "H0VcOhL36gFHQbme",
                    "name": "OpenAi mickael.lcq account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// Récupère la question d'origine + l'embedding renvoyé par OpenAI\nconst question = $('Boucler sur chaque question').item.json;\nconst embedding = $input.item.json.data[0].embedding;\n\nreturn {\n  json: {\n    question_id: question.id,\n    content: question.question,\n    embedding: JSON.stringify(embedding),\n    metadata: {\n      \"\": \"\",\n      loc: { lines: { to: 1, from: 1 } },\n      source: \"blob\",\n      blobType: \"text/plain\"\n    }\n  }\n};"
            },
            "id": "420a3fd8-e2c3-4d7b-ac5d-029548b28b82",
            "name": "Formater pour Supabase",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1824,
                304
            ]
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "INSERT INTO public.questions_embeddings (question_id, content, embedding, metadata)\nVALUES (\n  {{ $json.question_id }},\n  '{{ $json.content.replaceAll(\"'\", \"''\") }}',\n  '{{ $json.embedding }}'::vector,\n  '{{ JSON.stringify($json.metadata).replaceAll(\"'\", \"''\") }}'::jsonb\n);",
                "options": {}
            },
            "id": "25ca9a25-3765-4c3f-adb0-c3b7910e94cc",
            "name": "Insérer embedding",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.5,
            "position": [
                2048,
                304
            ],
            "credentials": {
                "postgres": {
                    "id": "PdQplJt0kraauzJT",
                    "name": "Postgres Supabase account"
                }
            }
        }
    ],
    "connections": {
        "When clicking ‘Execute workflow’": {
            "main": [
                [
                    {
                        "node": "Questions sans embedding",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Questions sans embedding": {
            "main": [
                [
                    {
                        "node": "Boucler sur chaque question",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Boucler sur chaque question": {
            "main": [
                [],
                [
                    {
                        "node": "Générer embedding (OpenAI)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Générer embedding (OpenAI)": {
            "main": [
                [
                    {
                        "node": "Formater pour Supabase",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Formater pour Supabase": {
            "main": [
                [
                    {
                        "node": "Insérer embedding",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Insérer embedding": {
            "main": [
                [
                    {
                        "node": "Boucler sur chaque question",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1",
        "binaryMode": "separate",
        "availableInMCP": false
    },
    "staticData": null,
    "meta": {
        "templateCredsSetupCompleted": true
    },
    "pinData": {},
    "versionId": "2c7b9465-ed2e-42fd-86df-222e7b9dd806",
    "activeVersionId": null,
    "triggerCount": 0,
    "shared": [
        {
            "updatedAt": "2026-03-29T22:47:47.218Z",
            "createdAt": "2026-03-29T22:47:47.218Z",
            "role": "workflow:owner",
            "workflowId": "aOAxm6ZNoDHDxzSv",
            "projectId": "lnYpJLFYV8VS8Mcd"
        }
    ],
    "activeVersion": null,
    "tags": []
}