workflows/Riot - Patch Notes.json
{
    "updatedAt": "2026-02-01T00:01:38.577Z",
    "createdAt": "2024-09-25T21:20:52.431Z",
    "id": "c3QrzISqRohMxXPb",
    "name": "Riot - Patch Notes",
    "active": true,
    "isArchived": false,
    "nodes": [
        {
            "parameters": {
                "rules": {
                    "values": [
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 2
                                },
                                "conditions": [
                                    {
                                        "leftValue": "={{ $json.body.title }}",
                                        "rightValue": "Valorant",
                                        "operator": {
                                            "type": "string",
                                            "operation": "contains"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            }
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 2
                                },
                                "conditions": [
                                    {
                                        "id": "dd8efa0d-5ef4-46cb-a196-747b5eed97f0",
                                        "leftValue": "={{ $json.body.title }}",
                                        "rightValue": "=League Of Legends",
                                        "operator": {
                                            "type": "string",
                                            "operation": "contains"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            }
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 2
                                },
                                "conditions": [
                                    {
                                        "id": "7b3ad3b9-1b69-4378-91f2-cfd29495a54a",
                                        "leftValue": "={{ $json.body.title }}",
                                        "rightValue": "Teamfight Tactics",
                                        "operator": {
                                            "type": "string",
                                            "operation": "contains"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            }
                        }
                    ]
                },
                "options": {}
            },
            "id": "e23eb00d-03a8-4454-bc8b-8cd61bedfb63",
            "name": "Switch",
            "type": "n8n-nodes-base.switch",
            "typeVersion": 3.2,
            "position": [
                720,
                352
            ]
        },
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "riot",
                "options": {
                    "noResponseBody": true
                }
            },
            "id": "52d76b93-6bad-4e11-8d35-a9cc692281d1",
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                512,
                368
            ],
            "webhookId": "420c36a1-0fda-4026-854f-0fcb56c43b94"
        },
        {
            "parameters": {
                "resource": "message",
                "guildId": {
                    "__rl": true,
                    "value": "361960679042973697",
                    "mode": "list",
                    "cachedResultName": "Wada Corp",
                    "cachedResultUrl": "https://discord.com/channels/361960679042973697"
                },
                "channelId": {
                    "__rl": true,
                    "value": "931920576057073714",
                    "mode": "list",
                    "cachedResultName": "🤖_bot",
                    "cachedResultUrl": "https://discord.com/channels/361960679042973697/931920576057073714"
                },
                "content": "=Nouveau {{ $json.title }} - {{ $json[\"version_print\"] }} \nhttps://www.leagueoflegends.com/fr-fr/news/game-updates/patch-{{ $json[\"version\"]  }}-notes/",
                "options": {}
            },
            "id": "7cd78c7e-4407-4050-8904-22769da1beac",
            "name": "Wada Corp",
            "type": "n8n-nodes-base.discord",
            "typeVersion": 2,
            "position": [
                1216,
                528
            ],
            "webhookId": "64597e50-5a2a-41ea-80d5-72e19a94a44c",
            "credentials": {
                "discordBotApi": {
                    "id": "xd5GBOjpfOLDyBSR",
                    "name": "Discord Bot account"
                }
            }
        },
        {
            "parameters": {
                "resource": "message",
                "guildId": {
                    "__rl": true,
                    "value": "702577437850206298",
                    "mode": "list",
                    "cachedResultName": "TiSnake",
                    "cachedResultUrl": "https://discord.com/channels/702577437850206298"
                },
                "channelId": {
                    "__rl": true,
                    "value": "711584353703952435",
                    "mode": "list",
                    "cachedResultName": "wadabot",
                    "cachedResultUrl": "https://discord.com/channels/702577437850206298/711584353703952435"
                },
                "content": "=Nouveau {{ $json.title }} - {{ $json.version_print }}\nhttps://playvalorant.com/en-us/news/game-updates/valorant-patch-notes-{{ $json[\"version\"]  }}",
                "options": {}
            },
            "id": "f5ed15fe-e825-4bae-8ebe-c576b53547fc",
            "name": "TiSnake1",
            "type": "n8n-nodes-base.discord",
            "typeVersion": 2,
            "position": [
                1216,
                224
            ],
            "webhookId": "a5c3d857-dd13-45da-bcce-75a6b372c5c2",
            "credentials": {
                "discordBotApi": {
                    "id": "xd5GBOjpfOLDyBSR",
                    "name": "Discord Bot account"
                }
            }
        },
        {
            "parameters": {
                "resource": "message",
                "guildId": {
                    "__rl": true,
                    "value": "702577437850206298",
                    "mode": "list",
                    "cachedResultName": "TiSnake",
                    "cachedResultUrl": "https://discord.com/channels/702577437850206298"
                },
                "channelId": {
                    "__rl": true,
                    "value": "711584353703952435",
                    "mode": "list",
                    "cachedResultName": "wadabot",
                    "cachedResultUrl": "https://discord.com/channels/702577437850206298/711584353703952435"
                },
                "content": "=Nouveau {{ $json.title }} - {{ $json[\"version_print\"] }} \n{{ $json[\"url\"] }} ",
                "options": {}
            },
            "id": "3015bd49-acfc-49c3-a64f-e073dda14120",
            "name": "TiSnake2",
            "type": "n8n-nodes-base.discord",
            "typeVersion": 2,
            "position": [
                1216,
                368
            ],
            "webhookId": "a5c3d857-dd13-45da-bcce-75a6b372c5c2",
            "credentials": {
                "discordBotApi": {
                    "id": "xd5GBOjpfOLDyBSR",
                    "name": "Discord Bot account"
                }
            }
        },
        {
            "parameters": {
                "language": "pythonNative",
                "pythonCode": "# Loop over input items and add a new field called 'my_new_field' to the JSON of each one\nimport re\n\nitem = _items[0][\"json\"]\n\nversion = re.search(r'Notes de patch (\\d+\\.\\d+)', item[\"body\"][\"message\"])\n\nif version is not None:\n  version_print = version.group(1)\n  version = version.group(1).replace(\".\", \"\")\n\nreturn {\"title\": item[\"body\"][\"title\"], \"version\": version, \"version_print\": version_print}"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                928,
                224
            ],
            "id": "b9f89f24-333c-4f55-9e6b-57ff6eed3d44",
            "name": "Code for Valorant"
        },
        {
            "parameters": {
                "language": "pythonNative",
                "pythonCode": "# Loop over input items and add a new field called 'my_new_field' to the JSON of each one\nimport re\nitem = _items[0][\"json\"]\n\nversion = re.search(r'Notes de patch (\\d+\\.\\d+)', item[\"body\"][\"message\"])\n\nif version is not None:\n  version_print = version.group(1)\n  version = version.group(1).replace(\".\", \"-\")\n\nurl = f\"https://www.leagueoflegends.com/fr-fr/news/game-updates/patch-{version}-notes/\"\n\nreturn {\n  \"title\": item[\"body\"][\"title\"], \n  \"version\": version, \n  \"version_print\": version_print,\n  \"url\": url\n}"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                928,
                368
            ],
            "id": "c6e8b81d-f3a3-4545-8016-9f20f09ee6a4",
            "name": "Code for LOL"
        },
        {
            "parameters": {
                "language": "pythonNative",
                "pythonCode": "# Loop over input items and add a new field called 'my_new_field' to the JSON of each one\nimport re\nitem = _items[0][\"json\"]\n\nversion = re.search(r'Notes de patch (\\d+\\.\\d+)', item[\"body\"][\"message\"])\n\nif version is not None:\n  version_print = version.group(1)\n  version = version.group(1).replace(\".\", \"-\")\n\nurl = f\"https://teamfighttactics.leagueoflegends.com/fr-fr/news/game-updates/teamfight-tactics-patch-{version}/\"\n\nreturn {\n  \"title\": item[\"body\"][\"title\"], \n  \"version\": version, \n  \"version_print\": version_print,\n  \"url\": url\n}"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                928,
                528
            ],
            "id": "1751b89c-877a-4fc0-9734-696e03f7d8da",
            "name": "Code for TFT"
        }
    ],
    "connections": {
        "Switch": {
            "main": [
                [
                    {
                        "node": "Code for Valorant",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Code for LOL",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Code for TFT",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Switch",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Code for Valorant": {
            "main": [
                [
                    {
                        "node": "TiSnake1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Code for LOL": {
            "main": [
                [
                    {
                        "node": "TiSnake2",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Wada Corp",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Code for TFT": {
            "main": [
                [
                    {
                        "node": "Wada Corp",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "TiSnake2",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    },
    "staticData": null,
    "meta": {
        "templateCredsSetupCompleted": true
    },
    "pinData": {},
    "versionId": "93b28344-83f5-4cf6-82fb-2dde4aacdc6b",
    "activeVersionId": "93b28344-83f5-4cf6-82fb-2dde4aacdc6b",
    "triggerCount": 1,
    "shared": [
        {
            "updatedAt": "2024-09-25T21:20:52.434Z",
            "createdAt": "2024-09-25T21:20:52.434Z",
            "role": "workflow:owner",
            "workflowId": "c3QrzISqRohMxXPb",
            "projectId": "lnYpJLFYV8VS8Mcd"
        }
    ],
    "activeVersion": {
        "updatedAt": "2026-02-01T00:01:39.000Z",
        "createdAt": "2026-02-01T00:01:38.577Z",
        "versionId": "93b28344-83f5-4cf6-82fb-2dde4aacdc6b",
        "workflowId": "c3QrzISqRohMxXPb",
        "nodes": [
            {
                "parameters": {
                    "rules": {
                        "values": [
                            {
                                "conditions": {
                                    "options": {
                                        "caseSensitive": true,
                                        "leftValue": "",
                                        "typeValidation": "strict",
                                        "version": 2
                                    },
                                    "conditions": [
                                        {
                                            "leftValue": "={{ $json.body.title }}",
                                            "rightValue": "Valorant",
                                            "operator": {
                                                "type": "string",
                                                "operation": "contains"
                                            }
                                        }
                                    ],
                                    "combinator": "and"
                                }
                            },
                            {
                                "conditions": {
                                    "options": {
                                        "caseSensitive": true,
                                        "leftValue": "",
                                        "typeValidation": "strict",
                                        "version": 2
                                    },
                                    "conditions": [
                                        {
                                            "id": "dd8efa0d-5ef4-46cb-a196-747b5eed97f0",
                                            "leftValue": "={{ $json.body.title }}",
                                            "rightValue": "=League Of Legends",
                                            "operator": {
                                                "type": "string",
                                                "operation": "contains"
                                            }
                                        }
                                    ],
                                    "combinator": "and"
                                }
                            },
                            {
                                "conditions": {
                                    "options": {
                                        "caseSensitive": true,
                                        "leftValue": "",
                                        "typeValidation": "strict",
                                        "version": 2
                                    },
                                    "conditions": [
                                        {
                                            "id": "7b3ad3b9-1b69-4378-91f2-cfd29495a54a",
                                            "leftValue": "={{ $json.body.title }}",
                                            "rightValue": "Teamfight Tactics",
                                            "operator": {
                                                "type": "string",
                                                "operation": "contains"
                                            }
                                        }
                                    ],
                                    "combinator": "and"
                                }
                            }
                        ]
                    },
                    "options": {}
                },
                "id": "e23eb00d-03a8-4454-bc8b-8cd61bedfb63",
                "name": "Switch",
                "type": "n8n-nodes-base.switch",
                "typeVersion": 3.2,
                "position": [
                    720,
                    352
                ]
            },
            {
                "parameters": {
                    "httpMethod": "POST",
                    "path": "riot",
                    "options": {
                        "noResponseBody": true
                    }
                },
                "id": "52d76b93-6bad-4e11-8d35-a9cc692281d1",
                "name": "Webhook",
                "type": "n8n-nodes-base.webhook",
                "typeVersion": 2,
                "position": [
                    512,
                    368
                ],
                "webhookId": "420c36a1-0fda-4026-854f-0fcb56c43b94"
            },
            {
                "parameters": {
                    "resource": "message",
                    "guildId": {
                        "__rl": true,
                        "value": "361960679042973697",
                        "mode": "list",
                        "cachedResultName": "Wada Corp",
                        "cachedResultUrl": "https://discord.com/channels/361960679042973697"
                    },
                    "channelId": {
                        "__rl": true,
                        "value": "931920576057073714",
                        "mode": "list",
                        "cachedResultName": "🤖_bot",
                        "cachedResultUrl": "https://discord.com/channels/361960679042973697/931920576057073714"
                    },
                    "content": "=Nouveau {{ $json.title }} - {{ $json[\"version_print\"] }} \nhttps://www.leagueoflegends.com/fr-fr/news/game-updates/patch-{{ $json[\"version\"]  }}-notes/",
                    "options": {}
                },
                "id": "7cd78c7e-4407-4050-8904-22769da1beac",
                "name": "Wada Corp",
                "type": "n8n-nodes-base.discord",
                "typeVersion": 2,
                "position": [
                    1216,
                    528
                ],
                "webhookId": "64597e50-5a2a-41ea-80d5-72e19a94a44c",
                "credentials": {
                    "discordBotApi": {
                        "id": "xd5GBOjpfOLDyBSR",
                        "name": "Discord Bot account"
                    }
                }
            },
            {
                "parameters": {
                    "resource": "message",
                    "guildId": {
                        "__rl": true,
                        "value": "702577437850206298",
                        "mode": "list",
                        "cachedResultName": "TiSnake",
                        "cachedResultUrl": "https://discord.com/channels/702577437850206298"
                    },
                    "channelId": {
                        "__rl": true,
                        "value": "711584353703952435",
                        "mode": "list",
                        "cachedResultName": "wadabot",
                        "cachedResultUrl": "https://discord.com/channels/702577437850206298/711584353703952435"
                    },
                    "content": "=Nouveau {{ $json.title }} - {{ $json.version_print }}\nhttps://playvalorant.com/en-us/news/game-updates/valorant-patch-notes-{{ $json[\"version\"]  }}",
                    "options": {}
                },
                "id": "f5ed15fe-e825-4bae-8ebe-c576b53547fc",
                "name": "TiSnake1",
                "type": "n8n-nodes-base.discord",
                "typeVersion": 2,
                "position": [
                    1216,
                    224
                ],
                "webhookId": "a5c3d857-dd13-45da-bcce-75a6b372c5c2",
                "credentials": {
                    "discordBotApi": {
                        "id": "xd5GBOjpfOLDyBSR",
                        "name": "Discord Bot account"
                    }
                }
            },
            {
                "parameters": {
                    "resource": "message",
                    "guildId": {
                        "__rl": true,
                        "value": "702577437850206298",
                        "mode": "list",
                        "cachedResultName": "TiSnake",
                        "cachedResultUrl": "https://discord.com/channels/702577437850206298"
                    },
                    "channelId": {
                        "__rl": true,
                        "value": "711584353703952435",
                        "mode": "list",
                        "cachedResultName": "wadabot",
                        "cachedResultUrl": "https://discord.com/channels/702577437850206298/711584353703952435"
                    },
                    "content": "=Nouveau {{ $json.title }} - {{ $json[\"version_print\"] }} \n{{ $json[\"url\"] }} ",
                    "options": {}
                },
                "id": "3015bd49-acfc-49c3-a64f-e073dda14120",
                "name": "TiSnake2",
                "type": "n8n-nodes-base.discord",
                "typeVersion": 2,
                "position": [
                    1216,
                    368
                ],
                "webhookId": "a5c3d857-dd13-45da-bcce-75a6b372c5c2",
                "credentials": {
                    "discordBotApi": {
                        "id": "xd5GBOjpfOLDyBSR",
                        "name": "Discord Bot account"
                    }
                }
            },
            {
                "parameters": {
                    "language": "pythonNative",
                    "pythonCode": "# Loop over input items and add a new field called 'my_new_field' to the JSON of each one\nimport re\n\nitem = _items[0][\"json\"]\n\nversion = re.search(r'Notes de patch (\\d+\\.\\d+)', item[\"body\"][\"message\"])\n\nif version is not None:\n  version_print = version.group(1)\n  version = version.group(1).replace(\".\", \"\")\n\nreturn {\"title\": item[\"body\"][\"title\"], \"version\": version, \"version_print\": version_print}"
                },
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    928,
                    224
                ],
                "id": "b9f89f24-333c-4f55-9e6b-57ff6eed3d44",
                "name": "Code for Valorant"
            },
            {
                "parameters": {
                    "language": "pythonNative",
                    "pythonCode": "# Loop over input items and add a new field called 'my_new_field' to the JSON of each one\nimport re\nitem = _items[0][\"json\"]\n\nversion = re.search(r'Notes de patch (\\d+\\.\\d+)', item[\"body\"][\"message\"])\n\nif version is not None:\n  version_print = version.group(1)\n  version = version.group(1).replace(\".\", \"-\")\n\nurl = f\"https://www.leagueoflegends.com/fr-fr/news/game-updates/patch-{version}-notes/\"\n\nreturn {\n  \"title\": item[\"body\"][\"title\"], \n  \"version\": version, \n  \"version_print\": version_print,\n  \"url\": url\n}"
                },
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    928,
                    368
                ],
                "id": "c6e8b81d-f3a3-4545-8016-9f20f09ee6a4",
                "name": "Code for LOL"
            },
            {
                "parameters": {
                    "language": "pythonNative",
                    "pythonCode": "# Loop over input items and add a new field called 'my_new_field' to the JSON of each one\nimport re\nitem = _items[0][\"json\"]\n\nversion = re.search(r'Notes de patch (\\d+\\.\\d+)', item[\"body\"][\"message\"])\n\nif version is not None:\n  version_print = version.group(1)\n  version = version.group(1).replace(\".\", \"-\")\n\nurl = f\"https://teamfighttactics.leagueoflegends.com/fr-fr/news/game-updates/teamfight-tactics-patch-{version}/\"\n\nreturn {\n  \"title\": item[\"body\"][\"title\"], \n  \"version\": version, \n  \"version_print\": version_print,\n  \"url\": url\n}"
                },
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    928,
                    528
                ],
                "id": "1751b89c-877a-4fc0-9734-696e03f7d8da",
                "name": "Code for TFT"
            }
        ],
        "connections": {
            "Switch": {
                "main": [
                    [
                        {
                            "node": "Code for Valorant",
                            "type": "main",
                            "index": 0
                        }
                    ],
                    [
                        {
                            "node": "Code for LOL",
                            "type": "main",
                            "index": 0
                        }
                    ],
                    [
                        {
                            "node": "Code for TFT",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Webhook": {
                "main": [
                    [
                        {
                            "node": "Switch",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Code for Valorant": {
                "main": [
                    [
                        {
                            "node": "TiSnake1",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Code for LOL": {
                "main": [
                    [
                        {
                            "node": "TiSnake2",
                            "type": "main",
                            "index": 0
                        },
                        {
                            "node": "Wada Corp",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Code for TFT": {
                "main": [
                    [
                        {
                            "node": "Wada Corp",
                            "type": "main",
                            "index": 0
                        },
                        {
                            "node": "TiSnake2",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            }
        },
        "authors": "Snake Tech",
        "name": "Version 93b28344",
        "description": "",
        "autosaved": false
    },
    "tags": [
        {
            "updatedAt": "2025-03-30T18:21:19.881Z",
            "createdAt": "2025-03-30T18:21:19.881Z",
            "id": "C6NiXPNmuO5EAjiJ",
            "name": "game"
        }
    ]
}