workflows/Splunk - Appsinfo.json
{
    "createdAt": "2024-09-28T09:11:06.127Z",
    "updatedAt": "2025-04-13T02:21:06.000Z",
    "id": "gTBkibbRHEFPmn1l",
    "name": "Splunk - Appsinfo",
    "active": true,
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "splunk-appinfo",
                "options": {}
            },
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                -460,
                -40
            ],
            "id": "b37f12a4-232d-49e6-bfb4-c80acbb3987d",
            "name": "Webhook",
            "webhookId": "6834f464-b579-4250-9b15-8b59562edb97"
        },
        {
            "parameters": {
                "chatId": "1037310358",
                "text": "={{ $json.body.diff }}",
                "additionalFields": {
                    "appendAttribution": false
                }
            },
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1.2,
            "position": [
                40,
                -40
            ],
            "id": "2f0c6b21-f92e-4e3a-807a-0db2420c9998",
            "name": "Telegram",
            "webhookId": "296977e5-bbd6-4418-81bf-c7f34baf7471",
            "credentials": {
                "telegramApi": {
                    "id": "t5jP1rX1Q7rEmgPc",
                    "name": "Telegram account"
                }
            }
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict",
                        "version": 2
                    },
                    "conditions": [
                        {
                            "id": "b7f30531-bbfd-48ad-8b72-cfb8a7c28d43",
                            "leftValue": "={{ $json.body.diff }}",
                            "rightValue": "",
                            "operator": {
                                "type": "string",
                                "operation": "notEmpty",
                                "singleValue": true
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.2,
            "position": [
                -200,
                -20
            ],
            "id": "c1bc587e-83b1-486f-b1f1-37af089b415c",
            "name": "If"
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "If",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "If": {
            "main": [
                [
                    {
                        "node": "Telegram",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    },
    "staticData": null,
    "meta": {
        "templateCredsSetupCompleted": true
    },
    "pinData": {},
    "versionId": "a66bb227-15d4-4a31-a5c8-5858fcb66e11",
    "triggerCount": 1,
    "tags": []
}