workflows/Video - Quiz.json
{
    "updatedAt": "2025-10-24T15:04:57.000Z",
    "createdAt": "2025-08-23T21:53:58.420Z",
    "id": "aw4R5UbolnyUZ37J",
    "name": "Video - Quiz",
    "active": false,
    "isArchived": false,
    "nodes": [
        {
            "parameters": {
                "resource": "audio",
                "input": "={{ $json.voice_script }}",
                "voice": "shimmer",
                "options": {
                    "response_format": "aac"
                }
            },
            "type": "@n8n/n8n-nodes-langchain.openAi",
            "typeVersion": 1.8,
            "position": [
                816,
                -352
            ],
            "id": "9d5b3f0c-550b-4a94-bfdb-19a4e6f20eee",
            "name": "Generate audio",
            "credentials": {
                "openAiApi": {
                    "id": "H0VcOhL36gFHQbme",
                    "name": "OpenAi mickael.lcq account"
                }
            },
            "disabled": true
        },
        {
            "parameters": {
                "operation": "update",
                "tableId": "QCM Questions",
                "dataToSend": "autoMapInputData"
            },
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                400,
                -320
            ],
            "id": "9b1ec131-843a-4593-9d46-f3712eaee124",
            "name": "Update a row",
            "credentials": {
                "supabaseApi": {
                    "id": "WbnVqEv2ZGhdAeSX",
                    "name": "Supabase SnakeTech"
                }
            },
            "disabled": true
        },
        {
            "parameters": {
                "url": "https://westeurope.tts.speech.microsoft.com/cognitiveservices/voices/list",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendQuery": true,
                "queryParameters": {
                    "parameters": [
                        {
                            "name": "Locale",
                            "value": "fr-FR"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1024,
                -352
            ],
            "id": "8730a3a2-5524-4cb4-afad-b0df047a9caa",
            "name": "Get Voices",
            "credentials": {
                "httpHeaderAuth": {
                    "id": "l6NvN4FQFZ0OQb13",
                    "name": "Azure SnakeTech account"
                }
            }
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.replicate.com/v1/models/leonardoai/lucid-origin/predictions",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpBearerAuth",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        },
                        {
                            "name": "Prefer",
                            "value": "wait"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"input\": {\n      \"prompt\": \"Create a background visual representation for this quiz question: {{ $json.text }}. Style: modern, colorful background, no text, no text, no text, no characters, does not answer the question, high quality\",\n      \"style\": \"none\",\n      \"contrast\": \"medium\",\n      \"num_images\": 1,\n      \"aspect_ratio\": \"9:16\",\n      \"prompt_enhance\": true,\n      \"generation_mode\": \"standard\"\n  }\n}\n",
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1120,
                352
            ],
            "id": "f1124172-cac5-4d93-ae53-831449ba999f",
            "name": "Replicate leonardoai/lucid-origin",
            "executeOnce": true,
            "credentials": {
                "httpHeaderAuth": {
                    "id": "3sytPF58vLXwSQtC",
                    "name": "NocoDB"
                },
                "httpBearerAuth": {
                    "id": "3cU5roeQm6SqG6i6",
                    "name": "Replicate Bearer Auth account"
                }
            }
        },
        {
            "parameters": {
                "text": "={{ $json.question }}",
                "translateTo": "EN-GB",
                "additionalFields": {}
            },
            "type": "n8n-nodes-base.deepL",
            "typeVersion": 1,
            "position": [
                928,
                352
            ],
            "id": "5ef4e151-eefe-4cdc-959d-b95d6bb29b71",
            "name": "Translate a language",
            "credentials": {
                "deepLApi": {
                    "id": "xlHLi2jtbfIcs8L6",
                    "name": "DeepL account poubello"
                }
            }
        },
        {
            "parameters": {
                "url": "={{ $json.output[0] }}",
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1312,
                352
            ],
            "id": "be508378-fda0-4d8d-b85d-72bc2b35047a",
            "name": "HTTP Request",
            "executeOnce": false
        },
        {
            "parameters": {
                "language": "python",
                "pythonCode": "# Loop over input items and add a new field called 'myNewField' to the JSON of each one\nglob = _('Global Fields').first().json\nnumber = int(glob.number_question)\nitems = _('Rename Keys').all()[:number]\nreturn items"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                704,
                464
            ],
            "id": "182a4a2e-240f-4813-96e9-f07331316cac",
            "name": "Get limited question"
        },
        {
            "parameters": {
                "language": "python",
                "pythonCode": "# Loop over input items and add a new field called 'myNewField' to the JSON of each one\nimport html\nimport os\n\nglob = _('Global Fields').first().json\naudio_background = html.escape(glob.get(\"audio_background\", \"\"))\naudio_break = html.escape(glob.get(\"audio_break\", \"\"))\naudio_correct_answer = html.escape(glob.get(\"audio_correct_answer\", \"\"))\ni = 0\n\nfor item in _input.all():\n  i += 1\n  voice_script = \"\"\n\n  voice_script += \"<speak version='1.0' xml:lang='fr-FR'>\"\n  if audio_background:\n    voice_script += f\"\"\"<mstts:backgroundaudio\n        src='{audio_background}'\n        volume='30' fadein='1500' fadeout='2000'/>\"\"\"\n  voice_script += \"<voice xml:lang='fr-FR' xml:gender='Male' name='fr-FR-RemyMultilingualNeural'>\"\n  \n  voice_script += \"<p>\"\n  voice_script += f\"{item.json.get(\"question\")}\"\n  if True: \n    voice_script += f\"<audio src='{audio_break}'/>\"\n  else:\n    voice_script += \"<break time='5s'/>\"\n  if True: \n    voice_script += f\"<audio src='{audio_correct_answer}'/>\"\n  voice_script += f\"Réponse {item.json.get(\"correct_answer\")} \"\n  voice_script += \"<break strength='medium' />\"\n  voice_script += f\"{item.json.get(f\"option_{item.json.get(\"correct_answer\").lower()}\")}\"\n  voice_script += \"</p>\"\n\n  voice_script += \"</voice></speak>\"\n\n  item.json.voice_script = voice_script\n  item.json.filename = glob.get(\"aws_prefix_audio_file\", \"\") + str(i) + \".mp3\"\n  item.json.aws_url = \"https://\" + glob.get(\"aws_bucket_name\", \"\") + \".s3.\" + glob.get(\"aws_region\", \"\") + \".amazonaws.com/\" + item.json.filename\n\nreturn _input.all()"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                928,
                592
            ],
            "id": "5aed2c62-3b22-4143-82a6-bc6ce089fec7",
            "name": "Get voice prompting"
        },
        {
            "parameters": {
                "content": "[Azure Portal](https://portal.azure.com)",
                "height": 80,
                "width": 150,
                "color": 5
            },
            "type": "n8n-nodes-base.stickyNote",
            "position": [
                48,
                512
            ],
            "typeVersion": 1,
            "id": "baec10bc-b934-4b6e-b695-a69cdaf6701b",
            "name": "Sticky Note"
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "50d0fc56-410d-4d0c-982c-a1e88487d282",
                            "name": "number_question",
                            "value": 7,
                            "type": "number"
                        },
                        {
                            "id": "4b601a48-f14a-4fb9-a41a-66e891265f50",
                            "name": "audio_break",
                            "value": "https://quizz7.blob.core.windows.net/sound/break_audio_5secondes.mp3?sp=r&st=2025-09-09T01:11:05Z&se=2035-09-09T09:26:05Z&spr=https&sv=2024-11-04&sr=b&sig=su%2F%2FqxfKBtwPJ7x2KIckTipXaPKAEqVD0fsXqCMTJaQ%3D",
                            "type": "string"
                        },
                        {
                            "id": "707031bc-5ae1-4e56-82fc-58f43e339f5b",
                            "name": "audio_break_time",
                            "value": "1.38",
                            "type": "string"
                        },
                        {
                            "id": "ef2d3584-9047-4d2e-8941-7e871ea66813",
                            "name": "audio_correct_answer",
                            "value": "https://quizz7.blob.core.windows.net/sound/correct_answer_1.mp3?sp=r&st=2025-09-09T00:57:01Z&se=2035-09-09T09:12:01Z&spr=https&sv=2024-11-04&sr=b&sig=5ahXIO9WfmNH8GfT44beTyCAGWF6QvRUQe2h6eY8ijM%3D",
                            "type": "string"
                        },
                        {
                            "id": "809d4c9d-2c47-4219-bbc1-20b4c5561d92",
                            "name": "aws_region",
                            "value": "eu-west-3",
                            "type": "string"
                        },
                        {
                            "id": "34cdf547-2e37-44f4-b493-9e561b2bd8d1",
                            "name": "aws_bucket_name",
                            "value": "tsnake-automation",
                            "type": "string"
                        },
                        {
                            "id": "06872125-2672-4649-a277-c2658d16cb22",
                            "name": "aws_prefix_audio_file",
                            "value": "audio_",
                            "type": "string"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                -336,
                640
            ],
            "id": "3ad7dc1c-5a09-4d31-88eb-7830b9aac15b",
            "name": "Global Fields"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://westeurope.tts.speech.microsoft.com/cognitiveservices/v1",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "X-Microsoft-OutputFormat",
                            "value": "audio-16khz-128kbitrate-mono-mp3"
                        },
                        {
                            "name": "User-Agent",
                            "value": "n8n-snaketech"
                        }
                    ]
                },
                "sendBody": true,
                "contentType": "raw",
                "rawContentType": "application/ssml+xml",
                "body": "={{ $node[\"Get voice prompting\"].json.voice_script }}",
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1728,
                768
            ],
            "id": "db688aaa-9047-492f-9013-78511c1b69cb",
            "name": "Generate Voice",
            "credentials": {
                "httpHeaderAuth": {
                    "id": "l6NvN4FQFZ0OQb13",
                    "name": "Azure SnakeTech account"
                },
                "httpBearerAuth": {
                    "id": "YOplG9WUCOFF5T4t",
                    "name": "Bearer Azure SnakeTech account"
                }
            }
        },
        {
            "parameters": {
                "tableId": "QCM Questions",
                "dataToSend": "autoMapInputData"
            },
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                1568,
                992
            ],
            "id": "4d9d84bb-20e4-47f2-8571-39bc0b38a0d5",
            "name": "Create a row",
            "alwaysOutputData": true,
            "credentials": {
                "supabaseApi": {
                    "id": "WbnVqEv2ZGhdAeSX",
                    "name": "Supabase SnakeTech"
                }
            },
            "disabled": true
        },
        {
            "parameters": {
                "language": "python",
                "pythonCode": "# Loop over input items and add a new field called 'myNewField' to the JSON of each one\nimport json\nimport re\n\ntext = _input.first().json.text\n\njson_content = re.search(\"```json\\n([\\s\\S]*?)\\n```\", text)[1]\n\nquestions = json.loads(json_content)\n\nall_questions_items = _('Rename Keys').all()\nall_questions = [item.get(\"question\", \"\").strip().lower() for item in all_questions_items]\n\nnew_questions = [q1 for q1 in questions if q1.get(\"question\", \"\").strip().lower() not in all_questions]\n\nreturn new_questions"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1040,
                832
            ],
            "id": "57dff129-12d2-466a-9f9d-0349b493a1da",
            "name": "Get new questions"
        },
        {
            "parameters": {
                "resource": "databasePage",
                "databaseId": {
                    "__rl": true,
                    "value": "25843d11-1336-80be-aa2c-cad738ad1c7b",
                    "mode": "list",
                    "cachedResultName": "QCM Questions Database",
                    "cachedResultUrl": "https://www.notion.so/25843d11133680beaa2ccad738ad1c7b"
                },
                "propertiesUi": {
                    "propertyValues": [
                        {
                            "key": "CreatedAt|date",
                            "date": "={{ $now.format('yyyy-MM-dd HH:mm:ss') }}"
                        },
                        {
                            "key": "Question|title",
                            "title": "={{ $json.question }}"
                        },
                        {
                            "key": "Option A|rich_text",
                            "textContent": "={{ $json.option_a }}"
                        },
                        {
                            "key": "Option B|rich_text",
                            "textContent": "={{ $json.option_b }}"
                        },
                        {
                            "key": "Option C|rich_text",
                            "textContent": "={{ $json.option_c }}"
                        },
                        {
                            "key": "Option D|rich_text",
                            "textContent": "={{ $json.option_d }}"
                        },
                        {
                            "key": "Correct Answer|select",
                            "selectValue": "={{ $json.correct_answer.toUpperCase() }}"
                        },
                        {
                            "key": "Category|select",
                            "selectValue": "={{ $json.category }}"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.notion",
            "typeVersion": 2.2,
            "position": [
                1248,
                832
            ],
            "id": "a26f574e-b64f-4cf7-adc5-cbaa336b5359",
            "name": "Create a database page",
            "credentials": {
                "notionApi": {
                    "id": "g3AwBtYd70JlJQfn",
                    "name": "Notion SnakeTech account"
                }
            }
        },
        {
            "parameters": {
                "model": "deepseek/deepseek-chat-v3-0324",
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
            "typeVersion": 1,
            "position": [
                704,
                1040
            ],
            "id": "17a5d6ea-3270-4911-bb48-55da80bf9a2a",
            "name": "OpenRouter Chat Model1",
            "credentials": {
                "openRouterApi": {
                    "id": "eJL3ulSkeT8Q0dwT",
                    "name": "OpenRouter account"
                }
            }
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "=Génère {{ Math.abs($json.unused_questions_count - 8) }} QCM. Dans le \"correct_answer\" ne met que la lettre. Format les informations à l'aide du JSON suivant. \n\n{\n  \"question\": \"\",\n  \"option_a\": \"\",\n  \"option_b\": \"\",\n  \"option_c\": \"\",\n  \"option_d\": \"\",\n  \"correct_answer\": \"\",\n  \"category\": \"\"\n}\n\nN'affiche que le JSON. Et ajoute le résultat systématique dans une liste.",
                "batching": {}
            },
            "type": "@n8n/n8n-nodes-langchain.chainLlm",
            "typeVersion": 1.7,
            "position": [
                704,
                832
            ],
            "id": "662dd6e4-3dfb-4dfc-8350-75da4a2c36eb",
            "name": "Basic LLM Chain"
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict",
                        "version": 2
                    },
                    "conditions": [
                        {
                            "id": "dc084b13-d6ff-40c9-99fa-a161fa9926eb",
                            "leftValue": "={{ $json.unused_questions_count}}",
                            "rightValue": 8,
                            "operator": {
                                "type": "number",
                                "operation": "gt"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.2,
            "position": [
                448,
                640
            ],
            "id": "00280a24-c249-411e-aad3-5c51c3941c15",
            "name": "If"
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "307df18a-1dfb-4f37-87df-8e4c5f9bed1a",
                            "name": "unused_questions_count",
                            "value": "={{ $input.all().filter(item => item.json.used === false).length }}",
                            "type": "number"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                256,
                640
            ],
            "id": "1d9d1283-2c65-4d6c-acf1-40562c098195",
            "name": "UnUsed",
            "executeOnce": true
        },
        {
            "parameters": {
                "additionalOptions": {
                    "regexReplacement": {
                        "replacements": [
                            {
                                "searchRegex": "^property_(.*)",
                                "replaceRegex": "=$1",
                                "options": {}
                            }
                        ]
                    }
                }
            },
            "type": "n8n-nodes-base.renameKeys",
            "typeVersion": 1,
            "position": [
                64,
                640
            ],
            "id": "779e9388-c3ce-4404-a931-452ba411f06a",
            "name": "Rename Keys"
        },
        {
            "parameters": {
                "resource": "databasePage",
                "operation": "getAll",
                "databaseId": {
                    "__rl": true,
                    "value": "25843d11-1336-80be-aa2c-cad738ad1c7b",
                    "mode": "list",
                    "cachedResultName": "Quiz Questions",
                    "cachedResultUrl": "https://www.notion.so/25843d11133680beaa2ccad738ad1c7b"
                },
                "options": {}
            },
            "type": "n8n-nodes-base.notion",
            "typeVersion": 2.2,
            "position": [
                -128,
                640
            ],
            "id": "2beb6e12-5e5d-4dbb-b460-13be978214ed",
            "name": "Get many database pages",
            "credentials": {
                "notionApi": {
                    "id": "g3AwBtYd70JlJQfn",
                    "name": "Notion SnakeTech account"
                }
            }
        },
        {
            "parameters": {},
            "type": "n8n-nodes-base.manualTrigger",
            "typeVersion": 1,
            "position": [
                -544,
                640
            ],
            "id": "750403d1-97fc-4154-8fe6-412fa6c363bd",
            "name": "When clicking ‘Execute workflow’"
        },
        {
            "parameters": {
                "chatId": "1037310358",
                "text": "={{ $json.text }}",
                "additionalFields": {
                    "appendAttribution": false
                }
            },
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1.2,
            "position": [
                608,
                -352
            ],
            "id": "d77d5b82-eb59-45aa-a8a8-859bf5021793",
            "name": "Telegram",
            "webhookId": "296977e5-bbd6-4418-81bf-c7f34baf7471",
            "executeOnce": true,
            "credentials": {
                "telegramApi": {
                    "id": "t5jP1rX1Q7rEmgPc",
                    "name": "Telegram account"
                }
            }
        },
        {
            "parameters": {
                "operation": "sendAudio",
                "chatId": "1037310358",
                "binaryData": true,
                "additionalFields": {}
            },
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1.2,
            "position": [
                1264,
                -352
            ],
            "id": "81b22477-d4fa-4a44-b181-69cbcd00ec1b",
            "name": "Send an audio file",
            "webhookId": "deb6a083-14d4-416b-b681-87e06eee75fe",
            "executeOnce": true,
            "credentials": {
                "telegramApi": {
                    "id": "t5jP1rX1Q7rEmgPc",
                    "name": "Telegram account"
                }
            }
        },
        {
            "parameters": {
                "content": "https://telegra.ph/api",
                "height": 80
            },
            "type": "n8n-nodes-base.stickyNote",
            "position": [
                1456,
                -448
            ],
            "typeVersion": 1,
            "id": "4621ae5c-2ec9-465c-be3e-77bfa1011fb5",
            "name": "Sticky Note1"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://telegra.ph/upload",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "multipart/form-data"
                        }
                    ]
                },
                "sendBody": true,
                "contentType": "multipart-form-data",
                "bodyParameters": {
                    "parameters": [
                        {
                            "parameterType": "formBinaryData",
                            "name": "file",
                            "inputDataFieldName": "=data"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1472,
                -352
            ],
            "id": "c2697fae-b1bc-4685-a351-fb8cd7270b6e",
            "name": "HTTP Request2",
            "alwaysOutputData": false,
            "executeOnce": true
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.replicate.com/v1/predictions",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpBearerAuth",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        },
                        {
                            "name": "Prefer",
                            "value": "wait"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"version\": \"8099696689d249cf8b122d833c36ac3f75505c666a395ca40ef26f68e7d3d16e\",\n  \"input\": {\n    \"audio\": \"{{ $node[\"Get voice prompting\"].json.aws_url }}\",\n    \"language\": \"auto\",\n    \"translate\": false,\n    \"temperature\": 0,\n    \"transcription\": \"plain text\",\n    \"suppress_tokens\": \"-1\",\n    \"logprob_threshold\": -1,\n    \"no_speech_threshold\": 0.6,\n    \"condition_on_previous_text\": true,\n    \"compression_ratio_threshold\": 2.4,\n    \"temperature_increment_on_fallback\": 0.2\n  }\n}\n",
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                2128,
                768
            ],
            "id": "bfa63a14-47f4-40cf-960c-1547a4b16a96",
            "name": "Replicate openai/whisper",
            "executeOnce": false,
            "credentials": {
                "httpHeaderAuth": {
                    "id": "3sytPF58vLXwSQtC",
                    "name": "NocoDB"
                },
                "httpBearerAuth": {
                    "id": "3cU5roeQm6SqG6i6",
                    "name": "Replicate Bearer Auth account"
                }
            }
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict",
                        "version": 2
                    },
                    "conditions": [
                        {
                            "id": "45dd38b3-736f-4807-af36-3c07125a3c83",
                            "leftValue": "={{ $json.LastModified }}",
                            "rightValue": "={{ $now.minus(200, 'minutes') }}",
                            "operator": {
                                "type": "dateTime",
                                "operation": "after"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.2,
            "position": [
                1312,
                592
            ],
            "id": "cb3d21df-7b33-4d75-90fb-5e9ab3d871c1",
            "name": "If1"
        },
        {
            "parameters": {
                "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json = JSON.parse(item.json.data)\n}\n\nreturn $input.all();"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                2336,
                576
            ],
            "id": "836bc558-f156-4376-a482-2b39357b0f9c",
            "name": "String to Json"
        },
        {
            "parameters": {
                "operation": "upload",
                "bucketName": "={{ $('Global Fields').first().json.aws_bucket_name }}",
                "fileName": "={{ $node[\"Get voice prompting\"].json.filename }}",
                "additionalFields": {
                    "acl": "publicRead"
                }
            },
            "type": "n8n-nodes-base.awsS3",
            "typeVersion": 2,
            "position": [
                1920,
                768
            ],
            "id": "087eee0a-203c-4f32-a994-3a82db996833",
            "name": "Save audio file",
            "executeOnce": false,
            "credentials": {
                "aws": {
                    "id": "TVt2s9BRalpzLzvl",
                    "name": "AWS account n8n tsnake7"
                }
            }
        },
        {
            "parameters": {
                "operation": "getAll",
                "bucketName": "={{ $('Global Fields').first().json.aws_bucket_name }}",
                "options": {}
            },
            "type": "n8n-nodes-base.awsS3",
            "typeVersion": 2,
            "position": [
                1120,
                592
            ],
            "id": "070c3c6e-4f09-463e-b3f9-18af6ab9da2b",
            "name": "Retrieve audio data",
            "executeOnce": false,
            "alwaysOutputData": true,
            "credentials": {
                "aws": {
                    "id": "TVt2s9BRalpzLzvl",
                    "name": "AWS account n8n tsnake7"
                }
            }
        },
        {
            "parameters": {
                "operation": "delete",
                "bucketName": "={{ $('Global Fields').first().json.aws_bucket_name }}",
                "fileKey": "={{ $node[\"Get voice prompting\"].json.filename }}",
                "options": {}
            },
            "type": "n8n-nodes-base.awsS3",
            "typeVersion": 2,
            "position": [
                1520,
                768
            ],
            "id": "744b2f79-26a1-4578-9abf-ab6324dd6f7a",
            "name": "Delete audio file",
            "credentials": {
                "aws": {
                    "id": "TVt2s9BRalpzLzvl",
                    "name": "AWS account n8n tsnake7"
                }
            }
        },
        {
            "parameters": {
                "operation": "get",
                "propertyName": "data",
                "key": "={{ $node[\"Get voice prompting\"].json.filename }}",
                "options": {}
            },
            "type": "n8n-nodes-base.redis",
            "typeVersion": 1,
            "position": [
                2128,
                576
            ],
            "id": "80ade5a2-3ecc-4815-bb06-427dfe80610c",
            "name": "Retrieve transcribe data",
            "credentials": {
                "redis": {
                    "id": "ua59kyvCowPL9ZRc",
                    "name": "Redis pika account"
                }
            }
        },
        {
            "parameters": {
                "operation": "set",
                "key": "={{ $json.input.audio.split('/').pop() }}",
                "value": "={{ $json.toJsonString() }}"
            },
            "type": "n8n-nodes-base.redis",
            "typeVersion": 1,
            "position": [
                2336,
                768
            ],
            "id": "68a37856-a4b4-4a7b-b6d0-604845a15e5e",
            "name": "Save transcribe data",
            "credentials": {
                "redis": {
                    "id": "ua59kyvCowPL9ZRc",
                    "name": "Redis pika account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// Iterate over each item in the input\nconst items = []\nconst questions = $(\"Get voice prompting\").all()\n$input.all().forEach((item, i) => {\n  // Map the segments array to keep only specific fields\n  if (item.json && item.json.output && Array.isArray(item.json.output.segments)) {\n    var segments = item.json.output.segments;\n\n    // Ensure there are at least two segments to merge\n    if (segments.length >= 3) {\n      const last = segments[segments.length - 2];\n      const secondLast = segments[segments.length - 1];\n\n      // Create merged segment\n      const mergedSegment = {\n        id: last.id, // Keep the earlier id or use a new one\n        start: last.start, // Use start of the earlier segment\n        end: secondLast.end, // Use end of the last segment\n        text: `${last.text} ${secondLast.text}`.trim() // Concatenate text\n      };\n\n      // Build new segments array: keep all except last two, then add merged\n      const newSegments = segments.slice(0, -2); // Keep all but last two\n      newSegments.push(mergedSegment); // Add merged segment\n      segments = newSegments\n    }\n\n    const data = {};\n    data.audio = item.json.input.audio\n    data.question = questions[i].json.name\n    data.option_a = questions[i].json.option_a\n    data.option_b = questions[i].json.option_b\n    data.option_c = questions[i].json.option_c\n    data.option_d = questions[i].json.option_d\n    data.correct_answer = questions[i].json.correct_answer\n    data.category = questions[i].json.category\n    data.remotion = segments.map(segment => ({\n      id: segment.id,\n      start: segment.start,\n      end: segment.end,\n      text: segment.text.trim()\n    }));\n    items.push(data);\n  }\n});\n\n// Return the modified items\nreturn items;;"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                2576,
                672
            ],
            "id": "15649dbe-8957-4258-8ee8-4a47d79d77cc",
            "name": "Code in JavaScript"
        }
    ],
    "connections": {
        "Update a row": {
            "main": [
                []
            ]
        },
        "Translate a language": {
            "main": [
                [
                    {
                        "node": "Replicate leonardoai/lucid-origin",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Replicate leonardoai/lucid-origin": {
            "main": [
                [
                    {
                        "node": "HTTP Request",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get limited question": {
            "main": [
                [
                    {
                        "node": "Translate a language",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Get voice prompting",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Global Fields": {
            "main": [
                [
                    {
                        "node": "Get many database pages",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get voice prompting": {
            "main": [
                [
                    {
                        "node": "Retrieve audio data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Create a row": {
            "main": [
                [
                    {
                        "node": "Get many database pages",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get new questions": {
            "main": [
                [
                    {
                        "node": "Create a database page",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Create a database page": {
            "main": [
                [
                    {
                        "node": "Create a row",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Get many database pages",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "OpenRouter Chat Model1": {
            "ai_languageModel": [
                [
                    {
                        "node": "Basic LLM Chain",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "Basic LLM Chain": {
            "main": [
                [
                    {
                        "node": "Get new questions",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "If": {
            "main": [
                [
                    {
                        "node": "Get limited question",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Basic LLM Chain",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "UnUsed": {
            "main": [
                [
                    {
                        "node": "If",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Rename Keys": {
            "main": [
                [
                    {
                        "node": "UnUsed",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get many database pages": {
            "main": [
                [
                    {
                        "node": "Rename Keys",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "When clicking ‘Execute workflow’": {
            "main": [
                [
                    {
                        "node": "Global Fields",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Generate Voice": {
            "main": [
                [
                    {
                        "node": "Save audio file",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Telegram": {
            "main": [
                []
            ]
        },
        "Send an audio file": {
            "main": [
                []
            ]
        },
        "If1": {
            "main": [
                [
                    {
                        "node": "Retrieve transcribe data",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Delete audio file",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Replicate openai/whisper": {
            "main": [
                [
                    {
                        "node": "Save transcribe data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Save audio file": {
            "main": [
                [
                    {
                        "node": "Replicate openai/whisper",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Retrieve audio data": {
            "main": [
                [
                    {
                        "node": "If1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Delete audio file": {
            "main": [
                [
                    {
                        "node": "Generate Voice",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Retrieve transcribe data": {
            "main": [
                [
                    {
                        "node": "String to Json",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Save transcribe data": {
            "main": [
                [
                    {
                        "node": "Code in JavaScript",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "String to Json": {
            "main": [
                [
                    {
                        "node": "Code in JavaScript",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    },
    "staticData": null,
    "meta": {
        "templateCredsSetupCompleted": true
    },
    "pinData": {},
    "versionId": "9ccee1dc-60b0-41ff-89eb-0f97765c4f66",
    "activeVersionId": null,
    "triggerCount": 0,
    "shared": [
        {
            "updatedAt": "2025-08-23T21:53:58.424Z",
            "createdAt": "2025-08-23T21:53:58.424Z",
            "role": "workflow:owner",
            "workflowId": "aw4R5UbolnyUZ37J",
            "projectId": "lnYpJLFYV8VS8Mcd"
        }
    ],
    "activeVersion": null,
    "tags": [
        {
            "updatedAt": "2025-09-10T23:32:33.122Z",
            "createdAt": "2025-09-10T23:32:33.122Z",
            "id": "956DbmwDfLDZv1Pp",
            "name": "video"
        },
        {
            "updatedAt": "2025-09-10T23:32:58.914Z",
            "createdAt": "2025-09-10T23:32:58.914Z",
            "id": "NWOO0ntGZ0QB7lNA",
            "name": "social media"
        }
    ]
}